//  page-head
// -------------------------------
.c-accordion {
  border-bottom: 1px solid $c-border;
  &__title {
    cursor: pointer;
    position: relative;
    padding: gt(10,20);
    overflow: hidden;
    border-top: 1px solid $c-border;

    &:after {
      content: "";
      display: block;
      width: 16px;
      height: 16px;
      background: url("#{$img_path}common/icons/plus.svg") no-repeat center center /contain;
      position: absolute;
      right: gt(5,10);
      top: 50%;
      transform: translate(-50%, -50%);
    }

    &.is-open {
      &:after {
        background: url("#{$img_path}common/icons/minus.svg") no-repeat center center /contain;
      }
    }
  }

  &__content {
    display: none;
    padding: 0;
    background: #eee;
    padding: gt(10,20);
  }
}
