//  基本設定
// -------------------------------
%form-core {
  outline: none;
  cursor: pointer;
  // &:valid{
  //   outline: 2px solid $c-success;
  // }
  // &:invalid{
  //   outline: 2px solid $c-danger;
  // }
  &:focus {
    outline: solid 2px $c-primary;
  }
  &[disabled] {
    cursor: not-allowed;
    pointer-events: none;
  }
  &[readonly] {
    cursor: default;
    pointer-events: none;
    background: transparent;
    border: none;
    border-bottom: 1px solid $c-border;
    font-size: fz(18,24);
    padding-top: 0;
  }
  @include mq(tab,min){
    &[readonly] {
      border-bottom: none;
      padding: 0;
    }
  }
}

%form-style-a {
  border-radius: 5px;
  border: 1px solid rgba($c-border, 0.1);
  background-color: white;
  padding: gt(10,20);
}

%form-style-b {
  span {
    display: inline-block;
    line-height: 1;
    vertical-align: middle;
    // border: 1px solid #000;
    margin-bottom: gt(10,20);
    &:before {
      width: 24px;
      height: 24px;
      display: inline-block;
      content: "";
      line-height: 1;
      vertical-align: middle;
      transform: translateY(-10%);
    }
  }
}

//  セレクター
// -------------------------------
.c-form {
  &__input {
    @extend %form-core;
    @extend %form-style-a;
    width: 100%;
  }

  &__select {
    @extend %form-core;
    @extend %form-style-a;
    background: url("#{$img_path}common/icons/form/caret-down.svg") no-repeat right gt(10,20) center / 10px, #fff;
    padding-right: gt(25,50);
    width: 100%;
    // position: relative;
    // &:after{
    //   background: url("#{$img_path}common/icons/form/circle.svg") no-repeat center center / contain;
    // }
    // width: 100%;
  }
  &__textarea {
    @extend %form-core;
    @extend %form-style-a;
    width: 100%;
    min-height: 10em
  }
  &__radio {
    @extend %form-core;
    @extend %form-style-b;
    span {
      margin-right: 1em;
      &:before {
        background: url("#{$img_path}common/icons/form/circle.svg") no-repeat center center / contain;
        margin-right: 0.5em;
      }
    }
    input[type="radio"] {
      &:checked {
        + span {
          &:before {
            background: url("#{$img_path}common/icons/form/circle-dot.svg") no-repeat center center / contain;
          }
        }
      }
    }
  }

  &__checkbox {
    @extend %form-core;
    @extend %form-style-b;
    span {
      margin-right: 1em;
      &:before {
        background: url("#{$img_path}common/icons/form/square.svg") no-repeat center center / contain;
        margin-right: 0.5em;
      }
    }
    input[type="checkbox"] {
      &:checked {
        + span {
          &:before {
            background: url("#{$img_path}common/icons/form/square-check.svg") no-repeat center center / contain;
          }
        }
      }
    }
  }
}

//  その他パーツ
// -------------------------------
.c-form {
  &__require {
    background: $c-danger;
    color: white;
    font-size: fz(10,12);
    margin-left: gt(5,10);
    width: 3.5em;
    text-align: center;
    display: inline-block;
    border-radius: 3px;
  }
  &__text {
    display: inline-block;
    padding: 0;
    margin: 0 auto gt(10,20);
    text-align: left;
  }
  &__note {
    color: $c-gray60;
  }
  &__error {
    display: block;
    padding: 0 0 0 2.5em;
    margin: 0;
    margin-top: gt(5,10);
    font-size: fz(12,14);
    color: $c-danger;
    background: url("#{$img_path}common/icons/circle-exclamation.svg") no-repeat left gt(5,10) center / 16px;
    text-align: left;
  }
  
}

//  レイアウトなど
// -------------------------------
.c-form {
  &__item {
    margin-bottom: gt(30,60);
  }
  &__label {
    font-size: fz(16,20);
    // font-weight: 700;
    margin-bottom: gt(10,20);
  }
  &__body {
    position: relative;
  }
  &__submit {
    display: flex;
    justify-content: center;
    align-items: center;
    [class^="c-button"]{
      margin: 0 gt(5,10)  gt(10,20);
    }
  }
  @include mq(tab,min){
    &__item {
      display: flex;
      flex-wrap: wrap;
      margin: 0;
      border: 1px solid #eee;
    }
    &__label {
      font-size: fz(16,20);
      width: 30%;
      padding: gt(10,20);
      background: $c-gray90;
      margin: 0;
    }
    &__body {
      position: relative;
      width: 70%;
      padding: gt(10,20);
      background: white;
      margin: 0;
    }
    &__submit {
      margin-top: gt(20,40);
    }
  }
}

.is-inline {
  width: auto;
  min-width: 25%;
  margin-right: 0.5em;
}

.c-form-agree {
  max-width: 600px;
  border: 2px solid $c-danger;
  border-radius: 4px;
  padding: gt(20,40) gt(20) gt(10,20);
  text-align: center;
  margin: gt(20,40) auto;
  &__title{
    font-size: fz(20,30);
    font-weight: 700;
    color: $c-danger;
    margin-bottom: .8em;
  }
  &__text{
    margin-bottom: gt(10,20);
    text-align: left;
  }
  &__body{
    margin-bottom: gt(15,30);
    text-align: left;
    color: $c-danger;
    line-height: 1.4;
  }
}
/* --------------------------------------------------
フォーム：placeholder
-------------------------------------------------- */

/* 各ベンダープレフィックスが取れた標準版！！(http://caniuse.com/#search=placeholder-shown) */
:placeholder-shown {
  color: rgba($c-gray30, 0.5);
  opacity: 1;
}

/* Google Chrome, Safari, Opera 15+, Android, iOS */
::-webkit-input-placeholder {
  color: rgba($c-border, 0.5);
  opacity: 1;
}

/* Firefox 18- */
:-moz-placeholder {
  color: rgba($c-border, 0.5);
  opacity: 1;
}

/* Firefox 19+ */
::-moz-placeholder {
  color: rgba($c-border, 0.5);
  opacity: 1;
}

/* IE 10+ */
:-ms-input-placeholder {
  color: rgba($c-border, 0.5);
  opacity: 1;
}
