/* --------------------------------------------------
固定ページ
-------------------------------------------------- */
.c-page {
  &__head {
    padding: gt(40) 0 gt(20);
    margin: auto;
  }
  &__title {
    font-size: fz(48);
    font-weight: 900;
    line-height: 1;
    letter-spacing: 0.05em;
    margin-bottom: gt(4);
    text-transform: capitalize;
  }
  &__subtitle {
    font-size: fz(11);
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: gt(20);
  }
  &__intro {
    font-size: fz(14, 22);
    // font-size: 16px;
    display: inline-block;
    text-align: left;
    margin: 0 auto;
  }
}
