//  panel
// -------------------------------
.c-panel-contact {
  text-align: center;
  padding: gt(20,40);
  background: white;
  border-radius: 10px;
  width: min(95%, 600px);
  margin: gt(20,40) auto;
  &__phone {
    font-size: fz(32,48);
    font-weight: 700;
    position: relative;
    @include flexbox(flex,null,null,center,center,null);
    transform: translateX(-0.25em);
    &:before{
      content: "";
      display: block;
      width: 1em;
      height: 1em;
      background: url("#{$img_path}common/icons/form/phone.svg") no-repeat center center /70%;
      margin-right: gt(8,16);
      // border: 1px solid #000;

      // @include position(absolute, 50% null null null);
    }
  }
}
