/* --------------------------------------------------
記事ページ
-------------------------------------------------- */
.c-single {
  &__head {
    padding: gt(20, 60) 0 gt(0);
    margin: auto;
  }
  &__title {
    font-size: fz(22, 40);
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0em;
    margin-bottom: gt(20, 40);
    text-transform: capitalize;
  }
  &__time {
    font-size: fz(32, 60);
    font-weight: 700;
    margin-bottom: gt(16);
    color: $c-gray80;
  }
  &__tag {
    margin-bottom: gt(20, 40);
  }
  &__intro {
    font-size: fz(14, 22);
    // font-size: 16px;
    display: inline-block;
    text-align: left;
    margin: 0 auto;
  }
  &__mv {
    margin-bottom: gt(20, 40);
  }
  &__content {
    h2 {
      position: relative;
      // color: red;
      font-weight: 700;
      // background: #eee;
      // border-top: 6px double $c-border;
      // border-bottom: 6px double $c-border;
      // border-bottom: 4px solid $c-border;
      margin: gt(40, 80) 0 gt(20, 40);
      padding: gt(12, 20) 0;
      font-size: fz(22, 36);
      font-weight: bold;
      line-height: 1.2;
      letter-spacing: 0.02em;
      // &:before{
      //   @include position(absolute, 100% null null 0);
      //   width: 20%;
      //   height: 4px;
      //   background: $c-primary;
      //   content: "";
      // }
      &:before {
        @include position(absolute, 100% null null 0);
        width: 100%;
        height: 4px;
        content: '';
        background-image: repeating-linear-gradient(-45deg, #000, #000 1px, transparent 2px, transparent 5px);
        background-size: 7px 7px;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
      }
      &:after {
        @include position(absolute, 100% null null 0);
        width: 20%;
        height: 4px;
        content: '';
        background: #000;
        // background-image: repeating-linear-gradient(-45deg, $c-primary, $c-primary 1px, transparent 2px, transparent 5px);
        background-size: 7px 7px;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
      }
    }
    h3 {
      // border-left: 3px solid $c-border;
      border-bottom: 1px solid #000;
      margin: gt(20, 40) 0 gt(10, 20) ;
      padding: gt(8, 12) 0;
      font-weight: 700;
      font-size: fz(18,24);
    }
    h4 {
      font-weight: 700;
      padding: gt(5, 10) gt(5, 10);
      display: inline-block;
    }
    p {
      // margin-bottom: gt(10, 20);
      margin-bottom: 1em;
      line-height: 1.7;
      // & + p{
      //   margin-bottom: 10px;
      // }
    }
    img {
      line-height: 0;
      margin: 0 0 gt(12, 20);
      height: auto !important;
      max-width: 100%;
    }
    a {
      text-decoration: underline;
      color: $c-font-link;
      // padding: 0 0.25em;
    }
    strong {
      font-size: 110%;
      font-weight: bold;
      padding: 0 0.25em;
      color: red;
    }
    em {
      font-style: italic;
      padding: 0 0.25em;
    }
    b {
      font-weight: bold;
      padding: 0 0.25em;
    }
    small {
      font-size: 12px;
      font-weight: 300;
      color: #999999;
    }
    mark {
      background: linear-gradient(transparent 0%, transparent 50%, yellow 50%, yellow 100%);
      padding: 0 0.25em;
    }
    ul {
      list-style: disc;
      padding-left: 1.5em;
      margin-bottom: gt(20, 40);
      li {
        margin-bottom: gt(5, 10);
      }
    }
    ol {
      list-style: decimal;
      padding-left: 1.5em;
      margin-bottom: gt(20, 40);
      li {
        margin-bottom: gt(5, 10);
      }
    }
    dl {
      margin-bottom: gt(20, 40);
      dt {
        font-weight: bold;
        margin-bottom: gt(5, 10);
      }
      dd {
        &:not(:last-child) {
          margin-bottom: gt(20, 40);
        }
      }
    }

    table {
      border-collapse: collapse;
      border-spacing: 0;
      border-top: 1px solid $c-border;
      margin-bottom: gt(20, 40);
      tr {
        border-bottom: 1px solid $c-border !important;
        // background: rgba(black,.2);
      }
      th {
        padding: gt(5, 10);
        text-align: left;
      }
      td {
        padding: gt(5, 10);
      }
    }

    blockquote {
      padding: gt(20, 40) gt(10, 20) gt(10, 20) gt(20, 40);
      background-color: #eee;
      border-radius: 6px;
      margin: 0 0 gt(10, 20);
      margin-top: 10px;
      margin-bottom: gt(20, 40);
      position: relative;
      &:before {
        content: "";
        background: url("#{$img_path}common/icons/quate.svg") no-repeat center center / cover;
        display: block;
        color: #ccc;
        top: 10px;
        left: 10px;
        position: absolute;
      }
    }

    iframe {
      width: 100%;
      background: #000;
      margin-bottom: gt(20, 40);
    }
  }
}