///////////////////////////////////
///////////////////////////////////
///////////////////////////////////
///////////////////////////////////
///////////////////////////////////
///////////////////////////////////
///////////////////////////////////
///////////////////////////////////
///////////////////////////////////
///////////////////////////////////
//====================================
//   ∧＿＿∧    .｡*ﾟ+.*.｡*ﾟ+.*.｡｡*ﾟ+.*.｡
// （´・ω・`）< subPage Setting
//  ( つ旦つﾟ  +.*.｡｡*ﾟ+.*.｡.｡*ﾟ+.*.｡*ﾟ+.
//====================================
.t-subPage {
  .l-main {
    padding-top: $g-xl;
  }
}

%subPageFormat1 {
  .heading {
    font-size: 2rem;
  }

  dt {
    font-weight: bold;
    font-weight: 600;
  }

  dd {
    margin-bottom: $g-l;
    padding-left: .5em;
  }
}

.companyInfo {
  @extend %subPageFormat1;
}

.sitemap {
  @extend %subPageFormat1;

  a {
    &:before {
      content: '';
      display: inline-block;
      height: calc(0.5em - 1px);
      width: 1em;
      margin-right: $g-xs;
      border-top: 1px solid $c-gray50;
    }
  }
}