//-========================
//- サイト共通設定
//-========================
include _includes/_config
//- block vars
//-========================
//- ページ設定
//-========================
- var root = './'//ルートパスの指定
- var key = 'contact'//条件分岐に使用
- var index = 'true'//ページインデックスの有無
- var ogp = 'true'//OGPの有無
- var analytics = 'true'//GAタグの有無
//-========================
//- ページメタ情報
//- ここに入力した内容で上書きされます
//- 記入無しでサイト共通内容が反映されます
//-========================
- var pageTitle = 'お問い合わせ'//meta title内容
- var pageDescription = '_サイト名_のお問い合わせのページです。ご利用に関する内容の他、取材に関するお問い合わせも受け付けております。'//meta description内容
- var pageKeywords = ''//meta keyword内容
- var pageOgUrl = ''//OG用 URL
- var pageOgTitle = 'お問い合わせ｜_サイト名_'//OG用 title
- var pageOgDescription = '_サイト名_のお問い合わせのページです。ご利用に関する内容の他、取材に関するお問い合わせも受け付けております。'//OG用 description
- var pageOgImage = ''//OGImage
//-========================
//- パンくず/構造化データ生成
//-========================
- var pageSlug= "contact"//ページのスラッグ※末尾に「/」必須
- var parentSlug= ""//ページが3階層目の場合、親ページのスラッグ※末尾に「/」必須
- var parentTitle= ""//ページが3階層目の場合、親ページの名前
//-========================
//- ライブラリ読み込み
//-========================
- var fontawesome = 'false'// fontawesome読み込み
- var slick = 'false'// slick読み込み ※block append js以下に発火用記述必須
- var swiper = 'false'// swiper読み込み ※block append js以下に発火用記述必須
- var magnificpopup = 'false'// magnificpopup読み込み ※block append js以下に発火用記述必須
- var accordion = 'false'
//-
//-
//-
//-========================
//- PAGE SOURCE
//-========================
doctype html
html(lang='ja')
  include _includes/_head
  //---------------------------------
  //- UNIQUE CSS
  //- ページ独自に使用するスタイル
  //---------------------------------
  block append css
    //- link(rel='stylesheet' type='text/css' href='../assets/css/###.css?ver=1.0.0')
    //- style(type='text/css').
      .class{}
  include _includes/_tag_head
  body
    include _includes/_tag_body
    .l-wrapper
      include _includes/_header
      include _includes/_breadcrumb
      main.l-main
        //-========================
        //-========================
        //- PAGE CONTENTS START
        //- 編集はここから
        //-========================
        // PageContents
        article.p-contact
          .c-head-page
            h1.c-head-page__title お問い合わせ
            .c-head-page__subtitle contact
            .c-head-page__intro _サイト名_のお問い合わせのページです。ご利用に関する内容の他、取材に関するお問い合わせも受け付けております。#[br]お問い合わせいただいた内容につきましては、担当者より後日ご連絡させていただきます。下記にあるお問い合わせに関するご注意事項をご確認の上、下記フォームよりお問い合わせください。

          // section START
          section.l-section.p-contact-form
            .l-container
              h2.c-h2-deco お問い合わせフォーム
              form(method="post" action=root+"confirm"+extention enctype='multipart/form-data')
                h3.c-h3 お客様情報
                .c-form
                  .c-form__item
                    .c-form__label お名前#[span.c-form__require 必須]
                    .c-form__body
                      input.c-form__input(type="text" id="name" name="name" placeholder="例：" autocomplete="name" required)
                      .c-form__error ▶ エラーテキスト

                  .c-form__item
                    .c-form__label ふりがな#[span.c-form__require 必須]
                    .c-form__body
                      input.c-form__input(type="text" id="name_kana" name="name_kana" placeholder="例：" required)
                      .c-form__note ※全角ひらがな
                      .c-form__error ▶ エラーテキスト

                  .c-form__item
                    .c-form__label メールアドレス#[span.c-form__require 必須]
                    .c-form__body
                      input.c-form__input(type="email" id="email" name="email" placeholder="例：" autocomplete="email" required)
                      .c-form__note ※半角英数
                      .c-form__error ▶ エラーテキスト

                  .c-form__item
                    .c-form__label 電話番号#[span.c-form__require 必須]
                    .c-form__body
                      input.c-form__input(type="tel" id="tel" name="tel" placeholder="例：" autocomplete="tel" required)
                      .c-form__note ※半角数字、ハイフンなし
                      .c-form__error ▶ エラーテキスト
                  
                  .c-form__item
                    .c-form__label お問い合わせ内容#[span.c-form__require 必須]
                    .c-form__body
                      textarea.c-form__textarea(id ="comment" name='comment' rows='10' placeholder='お問い合わせ内容を具体的にお知らせください。')
                      .c-form__error ▶ エラーテキスト

                h3.c-h3 その他フォーマット
                .c-form
                  .c-form__item
                    .c-form__label セレクトボックス#[span.c-form__require 必須]
                    .c-form__body
                      select.c-form__select(id="" name="" required)
                          option(value="") 選択してください
                          - var list = ["選択A", "選択B"]
                            each item in list
                              option(value="item") #{item}
                      .c-form__error ▶ エラーテキスト
                  
                  .c-form__item
                    .c-form__label ラジオボタン#[span.c-form__require 必須]
                    .c-form__body
                      label.c-form__radio
                        input(type="radio" name="radioA" id="r1" value="選択A" required)
                        span 選択A選択A選択A選択A選択A選択A選択A選択A選択A選択A選択A選択A選択A選択A選択A選択A選択A
                      label.c-form__radio
                        input(type="radio" name="radioA" id="r2" value="選択B" )
                        span 選択B
                      //- .c-form__radio
                        input(type="radio" name="radioA" id="r1" value="選択A" required)
                        label(for="r1") 選択A選択A選択A選択A選択A選択A選択A選択A選択A選択A選択A選択A選択A選択A選択A選択A選択A
                      //- .c-form__radio
                        input(type="radio" name="radioA" id="r2" value="選択B" )
                        label(for="r2") 選択B
                      .c-form__error ▶ エラーテキスト
                      
                  .c-form__item
                    .c-form__label チェックボックス#[span.c-form__require 必須]
                    .c-form__body
                      label.c-form__checkbox
                        input(type="checkbox" name="checkA" id="c1" value="選択A" required)
                        span 選択A選択A選択A選択A選択A選択A選択A選択A選択A選択A選択A選択A選択A選択A
                      label.c-form__checkbox
                        input(type="checkbox" name="checkA" id="c2" value="選択B")
                        span 選択B
                      .c-form__error ▶ エラーテキスト


                  .c-form__item
                    .c-form__label レンジ#[span.c-form__require 必須]
                    .c-form__body
                      input.c-form__date(type="range" id="" name="date" autocomplete="" placeholder="" required)
                      .c-form__error ▶ エラーテキスト
                  .c-form__item
                    .c-form__label カラー#[span.c-form__require 必須]
                    .c-form__body
                      input.c-form__date(type="range" id="" name="date" autocomplete="" placeholder="" required)
                      .c-form__error ▶ エラーテキスト
                  .c-form__item
                    .c-form__label ナンバー#[span.c-form__require 必須]
                    .c-form__body
                      input.c-form__date(type="range" id="" name="date" autocomplete="" placeholder="" required)
                      .c-form__error ▶ エラーテキスト


                h3.c-h3 ブラウザ依存ありのフォーム
                .c-form
                  .c-form__item
                    .c-form__label 日付#[span.c-form__require 必須]
                    .c-form__body
                      input.c-form__date(type="date" id="" name="date" autocomplete="" placeholder="" required)
                      .c-form__error ▶ エラーテキスト
                  
                  



                  .c-form__item
                    .c-form__label プライバシポリシーへの同意#[span.c-form__require 必須]
                    .c-form__body
                      .c-form__checkbox
                        input(type="checkbox" name="checkA" id="c1" value="選択A" required)
                        label(for="c1") 同意する
                      .c-form__note ※同意されない場合、送信できません。
                      .c-form__error ▶ エラーテキスト

                  p.c-form__comment お問い合わせが大変混みあっておりますため、ご連絡までお時間がかかることがございます。予めご了承を頂けますと幸いです。

                  .c-form__button
                    button.c-button-confirm(type="submit" id="submit" form="form") 入力内容を確認する
                    //- button.submit-back(type="button" onclick="history.back()") 戻る

              .p-panel-contact
                p.p-panel-contact__text
                  | お電話でのお問い合わせは
                  br.u-sp-display
                  | 下記番号からお願い致します
                address
                  a(href='tel:0120-233-065') 0120-233-065
                p.c-note ※受付時間 平日 9:00〜21:00　土日祝 9:00〜19:00
          // section END
        // /pageContents

        //-========================
        //- PAGE CONTENTS END
        //- 編集はここまで
        //-========================
        //-========================
      //- include _includes/_sidebar
      include _includes/_footer
      //- include _includes/_module/_floatbox
    include _includes/_script
    //---------------------------------
    //- UNIQUE SCRIPT
    //- ページ独自に使用するJS
    //---------------------------------
    block append js
      //- script(src="../assets/js/xxx.js?ver=1.0.0")
      //- script(type='text/javascript').
        $(function () {
          %scripts%
        });
    include _includes/_schema