// （´・ω・`）< button-core
// -------------------------------
%button-core {
  //ボタン基本構造
  outline: none;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  transition: $transition;
  -webkit-user-drag: none;
  user-select: none;
  vertical-align: baseline;
  letter-spacing: 0.1em;
  line-height: 1;
  font-weight: 500;
  @include hover {
    transform: translateY(3px);
  }
  &[disabled] {
    background: #b9b9b9;
    cursor: not-allowed !important;
    color: white;
    pointer-events: none;
  }
}

%button-arrow {
  $arrowColor: rgba(#fff, 0.9);
  &:after {
    content: "";
    display: block;
    width: min(0.65em, 10px);
    height: min(0.65em, 10px);
    margin-left: 0.5em;
    border-top: 2px solid $arrowColor;
    border-right: 2px solid $arrowColor;
    transition: $transition;
    opacity: 0.6;
    position: absolute;
    top: 50%;
    right: 1em;
    transform: rotate(45deg) translate(0%, -50%);
  }
  @include hover {
    &:after {
      transform: rotate(45deg) translate(-1px, -6px);
    }
  }
}

// （´・ω・`）< button-md
// -------------------------------
%button-md {
  //第一ボタンスタイル
  border-radius: 4px;
  padding: 1.2em 0em;
  width: 75%;
  max-width: 400px;
  font-size: fz(16, 20);
}

%button-sm {
  //第二ボタンスタイル
  border-radius: 4px;

  padding: 1.2em 0em;
  width: 100%;
  // max-width: 400px;
  font-size: fz(11, 14);
}

// （´・ω・`）< button-style
// -------------------------------
.c-button {
  &-primary {
    @extend %button-core;
    @extend %button-md;
    @extend %button-arrow;
    background: var(--buttonPrimary);
    border: 2px solid var(--buttonPrimary);
    color: white;
    @include hover {
      background: var(--buttonPrimary-hover);
    }
  }
  &-secondary {
    @extend %button-core;
    @extend %button-md;
    background: var(--buttonSecondary);
    border: 2px solid var(--buttonSecondary);
    color: white;
    @include hover {
      background: var(--buttonSecondary-hover);
    }
  }
  &-tertiary {
    @extend %button-core;
    @extend %button-md;
    background: var(--buttonTertiary);
    border: 2px solid var(--buttonTertiary);
    color: white;
    @include hover {
      background: var(--buttonTertiary-hover);
    }
  }
  &-head {
    @extend %button-core;
    @extend %button-sm;
    background: var(--buttonPrimary);
    border: 2px solid var(--buttonPrimary);
    color: white;
    @include hover {
      background: var(--buttonPrimary-hover);
    }
  }
  &-submit {
    @extend %button-core;
    @extend %button-md;
    background: var(--buttonPrimary);
    border: 2px solid var(--buttonPrimary);
    color: white;
    @include hover {
      background: var(--buttonPrimary-hover);
    }
    &[disabled] {
      background: var(--disable);
      border: 2px solid var(--disable);
      color: white;
      pointer-events: none;
      cursor: default;
    }
  }
  &-cancel {
    @extend %button-core;
    @extend %button-md;
    background: transparent;
    border: 2px solid var(--buttonPrimary);
    color: var(--buttonPrimary);
    width: 30%;
    @include hover {
      background: var(--buttonPrimary);
    }
  }
}
