.c-list {
  &-disc {
    padding-left: 2em;
    list-style: disc;
  }
  &-decimal {
    padding-left: 2em;
    list-style: decimal;
  }
  &-circle {
    padding-left: 2em;
    list-style: circle;
  }
}

.c-list {
  &__item {
    display: flex;
    border-bottom: 1px solid $c-border;
    padding: gt(10,20);
  }
  &__link {
    display: block;
    width: 100%;
    // border: 1px solid #000;
  }
  &__thumb{
    aspect-ratio: 4 / 3;
    width: min(30%,180px);
  }
  &__body{
    padding: gt(5,10);
  }
  &__title{
    font-size: fz(15,18);
    line-height: 1.4;
  }
  &__text{
    font-size: fz(14,16);
    line-height: 1.4;
  }
  &__date{
    font-size: fz(12,14);
  }
}
