//  pagination
// -------------------------------
.c-pagination {
  $pagination-btn-size: 35px;
  $pagination-btn-gutter: 1.5px;
  $pagination-btn-color: white;
  //========================
  margin: 0 auto;
  text-align: center;
  display: inline-block;
  padding: 0;
  line-height: 1;
  width: min(80%, 400px);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  &__prev {
    cursor: pointer;
    margin-right: 10px;
    width: 1.5em;
    height: 1.5em;
    display: block;
    background: url("#{$img_path}common/icons/arrow/angle-left.svg") no-repeat center center / contain;
    transition: $transition;
    opacity: .3;
    @include hover {
      transform: translateX(-20%);
    }
  }

  &__next {
    cursor: pointer;
    margin-left: 10px;
    width: 1.5em;
    height: 1.5em;
    display: block;
    background: url("#{$img_path}common/icons/arrow/angle-right.svg") no-repeat center center / contain;
    transition: $transition;
    opacity: .3;
    @include hover {
      transform: translateX(20%);
    }
  }

  &__count {
    flex-grow: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    li {
      &:not(:last-child) {
        margin-right: 10px;
      }
      a {
        width: $pagination-btn-size;
        height: $pagination-btn-size;
        // line-height: $pagination-btn-size;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        border: 1px solid transparent;
        border-radius: 50%;
        // line-height: 1;
        background: $pagination-btn-color;
        font-weight: 500;
        &.is-hover {
          border: 1px solid var(--secondary);
        }
        &.is-current {
          opacity: 1;
          background: var(--primary);
          color: #fff;
          pointer-events: none;
        }
        @include hover {
          border: 2px solid var(--primary);
          opacity: 1;
        }
      }
    }
  }
}
