.c-table {
  width: 100%;
  tbody {
    tr {
      &:not(:last-child){
        border-bottom: 1px solid $c-border;
      }

      &:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
        border: none;
      }

      th, td {
        text-align: left;
        padding: gt(15,30) 10px;
      }

      th {
        font-weight: bold;
        margin-bottom: 16px;
        font-size: fz(14,16);
        line-height: 1.4;
      }
    }
  }
}