%table-core {
  border-collapse: collapse;
  margin: 0 auto gt(20, 40);
  width: 100%;
  th,
  td {
    padding: gt(8, 16);
  }
  th {
    color: #b9b9b9;
  }
}


.c-table {
  &-primary {
    @extend %table-core;
    tr {
      border-bottom: 1px solid var(--borderPrimary);
    }
  }
}