.c-h1 {
  font-size: fz(36);
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: 0.05em;
  margin: gt(20,40) 0;
}

.c-h2 {
  font-size: fz(24);
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: 0.05em;
  margin: 0 0 gt(35,70) 0;
  // &-primary {
  //   プライマリスタイル
  // }
  // &-secontary{
  //   セカンダリスタイル
  // }
}

.c-h3 {
  font-weight: 700;
  font-size: fz(20, 38);
  line-height: 1.2;
  letter-spacing: 0.05em;
  margin: gt(30,60) 0 gt(10,20);
  // &-primary {
  //   プライマリスタイル
  // }
  // &-secontary{
  //   セカンダリスタイル
  // }
}


.c-lead {
  font-size: fz(16,26);
  margin-bottom: gt(20,40);
  // text-align: center;
}

.c-text {
  margin: 0 0 gt(10,20);
}
