// （´・ω・`）< contents layout
// -------------------------------
.l-content {
  margin: 0px auto;
  overflow: hidden;
  z-index: 1;
  max-width: 1280px;

  @include mq(tab, max, true) {
    margin-top: 50px;
  }
  @include mq(tab, min) {
    @include flexbox(flex, null, wrap, center, null, null);
    // margin-bottom: 200px;
  }
}

.l-main {
  width: 85%;
  margin: 0 auto;
  // @include mq(tab, max, true) {
  //   padding-top: 70px;
  //   max-width: 460px;
  //   margin-bottom: $g-xl;
  // }
  // @include mq(tab, min) {
  //   padding-top: 100px;
  //   width: 65%;
  //   padding-right: 4%;
  //   padding-left: 4%;
  // }
}
.l-side {
  width: 85%;
  margin: 0 auto;
  @include mq(tab, max, true) {
    max-width: 460px;
  }
  @include mq(tab, min) {
    max-width: 330px;
    width: 35%;
    padding-top: 115px;
    padding-right: 4%;
  }
}
// background: #faf5ec;
// border: 1px solid #000;
// @include mq(pc, max, true) {
//   &-main {
//     padding: 0 $g-m;
//     max-width: 520px;
//     margin: auto;
//   }

//   // &-side {
//   //   @include position(fixed, 0px null null -100vw);
//   //   z-index: 1000;
//   //   width: 100vw;
//   //   height: 100vh;
//   //   overflow-y: scroll;
//   //   background: rgba($c-tertiary, .95);
//   //   @include transition($transition);
//   //   padding: 60px $g-l 120px;

//   //   &.is-active {
//   //     @include position(fixed, 0px null null 0px);
//   //     width: 100vw;
//   //     height: 100vh;
//   //     padding: 60px $g-l 120px;
//   //   }
//   // }
// }

// @include mq(pc, min) {
//   // @include flexbox(flex, null, wrap, center, null, null);
//   position: relative;

//   &-main {
//     width: calc(100% - 500px);
//     padding: 0 $g-xs;
//     margin: auto;
//     // order: 2;
//   }

//   // &-side {
//   //   .side-close {
//   //     display: none;
//   //   }
//   // }

//   // &-left {
//   //   @include position(absolute, 0 null null 0);
//   //   padding: 0 $g-m;
//   //   width: 250px;
//   //   // order: 1;
//   // }

//   // &-right {
//   //   @include position(absolute, 0 0 null null);
//   //   padding: 0 $g-m;
//   //   width: 250px;
//   //   // order: 3;
//   // }
// }

// @include mq(tab, max, true) {
//   &-center {
//     padding: 0 $g-m;
//     max-width: 640px;
//     margin: auto;
//     overflow-x: hidden;
//   }

//   &-left {
//     @include position(fixed, 0px null null -100vw);
//     z-index: 1000;
//     width: 100vw;
//     height: 100vh;
//     overflow-y: scroll;
//     background: rgba($c-tertiary, .95);
//     @include transition($transition);
//     padding: 60px $g-l 120px;

//     &.is-active {
//       @include position(fixed, 0px null null 0px);
//       width: 100vw;
//       height: 100vh;
//       padding: 60px $g-l 120px;
//     }
//   }

//   &-right {
//     @include position(fixed, 0px null null -100vw);
//     z-index: 1000;
//     width: 100vw;
//     height: 100vh;
//     overflow-y: scroll;
//     background: rgba($c-tertiary, .95);
//     @include transition($transition);
//     padding: 60px $g-l 120px;

//     &.is-active {
//       @include position(fixed, 0px null null 0px);
//       width: 100vw;
//       height: 100vh;
//       padding: 60px $g-l 120px;
//     }
//   }
// }

// @include mq(tab, min) {
//   @include flexbox(flex, null, wrap, center, null, null);

//   &-center {
//     width: calc(100% - 500px);
//     padding: 0 $g-xs;
//     order: 2;
//   }

//   &-left {
//     padding: 0 $g-m;
//     width: 250px;
//     order: 1;

//     .side-close {
//       display: none;
//     }
//   }

//   &-right {
//     padding: 0 $g-m;
//     width: 250px;
//     order: 3;

//     .side-close {
//       display: none;
//     }
//   }
// }
// }

// // （´・ω・`）< side
// // -------------------------------
// %side-unit {
//   margin: 0 auto $g-m;
//   background: white;
//   border: 1px solid #eee;
//   border-radius: $radius;
//   overflow: hidden;
//   max-width: 500px;
// }

// .side {
//   &-ttl {
//     padding: $g-xs $g-s;
//     font-size: 1.2rem;
//     background: $c-quaternary;
//     color: white;
//     position: relative;
//     font-weight: 900;
//   }

//   &-list {
//     @extend %list-arrow;

//     .list-item {
//       a {
//         max-width: 100%;
//         // display: inline-block;
//         overflow: hidden;
//         text-overflow: ellipsis;
//         white-space: nowrap;
//         @extend %hover;
//         // &.hover{
//         //   // border-left: 3px solid white;
//         //   padding-left: 18px;
//         // }
//       }
//     }

//     .list-parent {
//       >a {
//         cursor: pointer;

//         &:after {
//           content: '\f078';
//           @include transition($transition);
//         }
//       }

//       &.is-open {
//         >a {
//           &:after {
//             @include transform(rotate(-180deg) translateY(50%));
//           }
//         }

//         .list-child {
//           height: auto;
//           @include transition($transition);
//         }
//       }
//     }

//     .list-child {
//       @include transition($transition);
//       @extend %list-arrow;
//       background: $c-tertiary;
//       background: $c-gray95;
//       border-left: 4px solid $c-border;
//       height: 0;
//     }
//   }

//   &-myProfile {
//     @extend %side-unit;

//     a {
//       padding: $g-s $g-m;
//       @include flexbox(flex, null, null, null, center, null);
//       position: relative;
//       padding-right: $g-l;
//       @extend %icon-base;

//       &:after {
//         @include position(absolute, 50% 15px null null);
//         @include transform(translateY(-50%));
//         transform-origin: center;
//         font-weight: 900;
//         content: '\f054';
//         color: rgba($c-font-primary, .2);
//       }
//     }
//   }

//   &-avatar {
//     @extend %avatar;
//     @include size(60px);
//     margin-right: $g-m;
//   }

//   &-category {
//     @extend %side-unit;
//   }

//   &-trend {
//     @extend %side-unit;
//   }

//   &-menu {
//     @extend %side-unit;
//   }

//   &-close {
//     @include size(44px);
//     @include position(absolute, 0 0 null null);
//     background: #000;
//     border-radius: 0 0 0 20px;
//     z-index: 100;
//     @extend %icon-base;

//     &:after {
//       font-weight: 900;
//       content: '\f00d';
//       color: $c-gray;
//       font-size: 18px;
//     }
//   }
// }

// // （´・ω・`）< localHeader
// // -------------------------------
// .localHeader {
//   margin-bottom: $g-m;
//   background: $c-tertiary;
//   // background: #000;
//   // border: 1px solid red;
//   text-align: center;
//   @include flexbox(flex, null, wrap, space-between, center, null);
//   min-height: 44px;
//   @include mq(pc,max,true){
//     margin-left: calc(((100vw - 500px) / 2)* -1 - 6px);
//     width: 100vw;
//   }
//   @media screen and (max-width: 520px) {
//     margin-left: -16px;
//   }
//   @include mq(pc, min) {
//     margin: 0 auto $g-m;
//     width: 100%;
//   }

//   &-ttl {
//     @extend %ellipsis;
//     width: calc(100% - 100px);
//     order: 2;
//     font-size: 1.4rem;
//   }
//   &-subTtl{
//     font-size: 1.2rem;
//   }

//   &-left,
//   &-right {
//     width: 40px;
//     min-height: 44px;
//   }

//   &-left {
//     order: 1;
//   }

//   &-right {
//     order: 3;
//   }

//   .back {
//     @extend %icon-base;
//     cursor: pointer;
//     font-size: 20px;
//     width: 100%;
//     height: 44px;
//     color: $c-gray;

//     &:before {
//       font-weight: 900;
//       content: '\f104';
//       line-height: 44px;
//     }
//   }
// }

// // （´・ω・`）< searchUnit
// // -------------------------------
// .searchUnit {
//   $btnW: 40px;
//   background: rgba(white, 1);
//   border-radius: calc(#{$btnW}/2);
//   overflow: hidden;
//   height: $btnW;
//   box-shadow: 0px 0px 3px rgba(black, .05);
//   position: relative;
//   margin:0 auto $g-m;
//   max-width: 500px;

//   &-form {
//     @include flexbox(flex, null, wrap, space-between, center, null);
//     @extend %icon-base;

//     &:before {
//       font-weight: 900;
//       content: '\f002';
//       text-align: center;
//       font-size: 16px;
//       color: $c-gray;
//       padding-left: $g-m;
//     }
//   }

//   &-input {
//     width: calc(100% - #{$btnW} - 40px);
//     padding: $g-xs 0 $g-xs 0;
//     border-radius: 0;
//     border: none;
//     appearance: none;
//   }

//   &-submit {
//     width: $btnW;
//     height: $btnW;
//     font-size: 24px;
//     text-align: center;
//     padding: 0;
//     @extend %icon-base;

//     &:after {
//       font-weight: 900;
//       content: '\f0a9';
//       color: $c-primary;
//     }
//   }
// }

// // （´・ω・`）< postUnit
// // -------------------------------
// .postUnit {
//   $btnW: 35px;
//   @include position(fixed, null null 10px 0);
//   z-index: 1000;
//   width: 100%;
//   padding: 0 $g-s;

//   &-form {
//     background: $c-primary;
//     padding: $g-s;
//     border-radius: 10px;
//     margin: auto;
//     max-width: 540px;

//   }

//   // @include mq(tab, min) {
//   //   padding-left: 300px;

//   //   &-form {
//   //     max-width: 724px;
//   //   }
//   // }

//   &-inputWrap {
//     margin-bottom: $g-xs;
//     background: white;
//     border-radius: $radius;
//     padding: $g-s;
//   }

//   &-input {
//     background: white;
//     min-height: 0em;
//     line-height: 1.6;
//     height: calc(1em * 1.6);
//     max-height: calc(1em * 1.6);
//     padding: 0 $g-xs;
//     border: none;
//     resize: none;
//     overflow-y: scroll;

//     &:focus {
//       @include mq(tab, max, true) {
//         min-height: calc(3em * 1.6);
//         max-height: calc(10em * 1.6);
//       }

//       @include mq(tab, min) {
//         min-height: calc(5em * 1.6);
//         max-height: calc(10em * 1.6);
//       }
//     }
//   }

//   &-preview {
//     $imgW:80px;
//     border-radius: 0 0 $radius $radius;
//     position: relative;
//     text-align: left;
//     position: relative;
//     overflow: hidden;
//     @include flexbox(flex, null, wrap, center, center, null);
//     >span{
//       width: 100%;
//       margin-top: $g-s;
//       border-top: 2px dotted $c-border;
//       position: relative;
//     }
//     img{
//       margin: $g-s auto $g-s 0;
//       max-width: $imgW;
//     }
//   }

//   &-controller {
//     @include flexbox(flex, null, wrap, space-between, center, null);
//   }

//   &-to {
//     order: 2;
//     display: block;
//     width: calc(100% - #{$btnW}*2);
//     padding: $g-xs $g-s 0 $g-m;
//     color: white;

//     .select-box {
//       width: calc(100% - 5em);

//       &:before {
//         color: white;
//       }

//       select {
//         background: rgba(white, .2);
//         border: none;
//         padding: $g-xs;
//         color: white;
//       }
//       option{
//         color: $c-font-primary;
//       }
//     }
//   }

//   &-file,
//   &-send {
//     @extend %icon-base;
//     width: $btnW;
//     height: $btnW;
//     line-height: $btnW;
//     line-height: 32px;
//     font-size: 18px;
//     text-align: center;
//     padding: 0;
//     border-radius: $radius;
//     border: 1px solid rgba(white, .5);
//     color: white;

//   }

//   &-file {
//     order: 1;

//     &:after {
//       font-weight: 900;
//       content: '\f03e';
//     }
//   }

//   &-send {
//     order: 3;

//     &:after {
//       font-weight: 900;
//       content: '\f1d8';
//     }
//   }
// }
