.btnArea {
  @include flexbox(flex, null, null, center, null, null);

  >[class*="btn-"] {
    width: calc((100% - #{$g-s}) / 2);
    max-width: 500px;
  }

  &-fixBottom {
    @include position(fixed, null null 0 0);
    padding: $g-m;
    width: 100%;
    text-align: center;
    z-index: 100;

    >[class*="btn-"] {
      width: 80%;
      max-width: 400px;
    //   margin: 0 2px $g-m;
    }
  }

  // &-cta {
  //   margin: $g-m auto 0;
  //   max-width: 500px;

  //   >[class*="btn-"] {
  //     width: 100%;
  //     margin: 0 0 $g-m;
  //   }
  // }

  &-submit {
    margin: $g-m auto;
    width: 80%;
  }

  // &-confirm {
  //   @include flexbox(flex, null, null, center, null, null);
  //   margin: $g-l 0;

  //   >[class*="btn-"] {
  //     margin: 0 $g-xs;
  //   }
  // }

  // &-finish {
  //   margin-top: $g-xl;

  //   >[class*="btn-"] {
  //     width: 100%;

  //     &:not(:last-child) {
  //       margin-bottom: $g-s;
  //     }
  //   }
  // }


  &-card {
    margin: 0;
    border-top: 1px solid $c-border;
    position: relative;
    z-index: 20;
    @include flexbox(flex, null, null, center, null, null);

    >[class*="btn-"] {
      width: 50%;
      text-align: center;
      padding: $g-m $g-xs;
      margin: 0;

      &:not(:last-child) {
        border-right: 1px solid $c-border;
      }
    }
  }

  &-modal {
    margin: 0;
    border-top: 1px solid $c-border;
    position: relative;
    z-index: 20;
    @include flexbox(flex, null, null, center, null, null);

    >[class*="btn-"] {
      width: 100%;
      text-align: center;
      padding: $g-m $g-xs;
      margin: 0;

      &:not(:last-child) {
        border-right: 1px solid $c-border;
      }
    }
  }
}