// （´・ω・`）< Btn style
// -------------------------------
$btn-style-flat: true; // true:フラット||false:グラデ
$btn-style-wire: false; // true:ワイヤー||false:塗り
$btn-shape-radius: 0px; // 角丸調整
$btn-frame-border: 0px; // 枠線調整
$btn-thickness: 0px; // 厚み調整

//color scheme（ボタンに独自カラーを設定したいときに変更）
$btn-default: $c-primary;
$btn-default-txt: #fff;

$btn-primary: $c-primary;
$btn-primary-txt: #fff;

// $btn-secondary:$c-secondary;
// $btn-secondary-txt:#fff;

// $btn-thirdry:$thirdry;
// $btn-thirdry-txt:#fff;

$btn-accent: $c-accent;
$btn-accent-txt: #fff;

$btn-disabled: #ccc;
$btn-disabled-txt: #fff;

$btn-fb: #2276ab;

// -------------------------------
//   ∧＿＿∧    .｡*ﾟ+.*.｡
// （´・ω・`）< default setting
// -------------------------------
// ★★★ Format
// --------------------
%btn-base {
  outline: none;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  @include transition($transition); //$ease-in-circ
  -webkit-user-drag: none;
  user-select: none;
  vertical-align: baseline;
  letter-spacing: 0.1em;
  font-weight: 600;
  line-height: 1;
  &:hover,
  &.is-hover {
    filter: brightness(110%);
  }
}

// ★★★ Format
// --------------------
%btnFormat1 {
  @extend %btn-base;
  border-radius: 4px;
  padding: 1.2em 0em;
  width: 75%;
  max-width: 400px;
}

%btn-middle {
  @extend %btn-base;
  border-radius: 3px;
  padding: $g-s 0.8em;
  font-size: 1.2rem;
}

%btn-small {
  @extend %btn-base;
  border-radius: 30px;
  padding: 2px 0.8em;
  font-size: 1.2rem;
}

%btn-arrow {
  position: relative;
  padding-right: 1.5em;

  &:after {
    @include position(absolute, 50% 8px null null);
    @include transform(translateY(-50%));
    color: $c-gray80;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f054";
  }
}
