// %card{
//   &_base{
//     $itemW:320px;
//     $itemG:$g-s;
//     margin: auto;
//     max-width: $itemW;

//   }
// }

%card-typeA{
  $itemW:320px;
  $itemG:$g-m;
  // margin: auto;
  margin: 0 auto $g-l;
  // background: #000;
  max-width: $itemW;

  @include mq(tab,min){
    @include flexbox(flex, null, wrap, null, stretch, null);
    max-width: calc(#{$itemW}*2 + #{$itemG}*4);
  }
  @include mq(pc, min) {
    max-width: calc(#{$itemW}*3 + #{$itemG}*6);
  }

  .item{
    width: 100%;
    max-width: $itemW;
    background: white;
    position: relative;
    border-radius: $radius;
    overflow: hidden;
    // box-shadow: 0px 0 10px 0 rgba(0, 0, 0, 0.1);
    &:not(:last-child){
      margin-bottom: $itemG;
    }
    // margin: $itemG;
    @include mq(tab,min){
      margin: $g-s;
      width: calc(50% - #{$g-s}*2);
    }
  }
  .thumb{
    // width: 100%;
    // height: 0;
    // padding-bottom: $r-gold;
    // background: $c-gray90;
    // position: relative;
    // overflow: hidden;
    @extend %trim-base;
    width: 100%;
    padding-bottom: $r-gold;
    // img{
    //   @include position(absolute, 50% null null 50%);
    //   @include transform(translate(-50%, -50%));
    //   min-height: 101%;//隙間チラツキ防止
    //   min-width: 101%; //隙間チラツキ防止
    // }
  }
  .textArea{
    padding: $g-m;
    position: relative;
    font-size: 1.4rem;
    color: #555;
  }
  .heading{
    margin-bottom: $g-xs;
    text-align: justify;
    letter-spacing: 0;
    font-size: 1.6rem;
  }
  .link-body{
    width: 100%;
    height: 100%;
    @include position(absolute, 0 null null 0);
    z-index: 10;
    @extend %hover-card;
    // &:hover{
    //   background: rgba($c-primary,.1);
    // }
  }
}

