.js-dropdown-target {
  display: none;
}
.js-dropdown {
  padding: $g-xs;
  background: black;
  color: white;
  &:before {
    font-size: 2rem;
    font-weight: 900;
    content: '\f103'
  }
  &.is-open{
    &:before {
      // font-weight: 900;
      content: '\f102'
    }
  }
}