%inner {
  &-base {
    @include debug(silver);
    margin: auto;
    min-width: 300px;
    max-width: 500px;
    position: relative;
    // width: calc(100% - 8%);
  }

  &-typeA {
    @extend %inner-base;
    width: calc(100% - 8%);
    // max-width: 960px;
  }

  &-typeB {
    @extend %inner-base;
    max-width: 1200px;
  }
}

%ttl {
  &-base {
    font-family: $headline;
    letter-spacing: .1rem;
    // font-weight: bold;
    font-weight: 700;
  }

  &-typeA {
    @extend %ttl-base;
    margin-bottom: $g-m;
  }
}

.l-wrap {
  position: relative;
  margin-top: 44px;
}

.l-main {
  @include debug(red);
  padding: 0 0 60px;
}

.l-pageHead {
  margin-top: 0;

  &-inner {
    @extend %inner-base;
  }
}

// .page-ttl {
//   @extend %ttl-typeA;
//   font-size: 2.6rem;
// }

// .post-ttl {
//   @extend %ttl-typeA;
//   border-bottom: 1px solid $c-border;
// }

// -------
.l-section {
  &:not(:last-of-type) {
    margin-bottom: $g-l;
  }

  // &:last-child {
  //   margin-bottom: 0;
  // }
  &-inner {
    @extend %inner-base;
    padding: 0 $g-m;
  }

  &-ttl {
    @extend %ttl-base;
    font-size: 1.4rem;
    padding: $g-xs;
    position: relative;
    background: $c-gray;
    color: white;

    .title-inner {
      @extend %inner-base;
    }

    &.is-accent {
      background: $c-accent;
      text-align: center;
    }
  }
}

// -------
.l-unit {
  width: 100%;
  margin-bottom: $g-l;

  &:last-child {
    margin-bottom: 0;
  }

  &_ttl {
    @extend %ttl-typeA;
    margin-bottom: $g-s;
  }
}

// -------
.l-article {
  margin-bottom: calc(8px * 10);
  padding: $g-l $g-s;

  &-inner {
    @extend %inner-typeA;
    padding: $g-m;
    background: $c-gray95;
    border: $border;
    border-radius: 10px;
  }

  &-ttl {
    @extend %ttl-base;
    font-size: 1.4rem;
    margin: $g-s 0 $g-m;
  }

  .date {
    @include position(absolute, calc(100% + #{$g-m}) 0 null null);
  }
}