@mixin stripe($color1:#000, $color2:#fff, $size:7px) {
  background-color: $color1;
  background-image: -webkit-gradient(linear, 0 0, 100% 100%,color-stop(.25, $color2), color-stop(.25, transparent),color-stop(.5, transparent), color-stop(.5, $color2),color-stop(.75, $color2), color-stop(.75, transparent),to(transparent));
  background-repeat: repeat;
  -webkit-background-size: $size $size;
}

@mixin border-v($color1:#000, $color2:#fff, $size:5px) {
  background-color: $color1;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, $color2), color-stop(.5, transparent), to(transparent));
  background-repeat: repeat;
  -webkit-background-size: $size;
}

@mixin border-h($color1:#000, $color2:#fff, $size:5px) {
  background-color: $color1;
  background-image: -webkit-gradient(linear, 0 0, 100% 0, color-stop(.5, $color2), color-stop(.5, transparent), to(transparent));
  background-repeat: repeat;
  -webkit-background-size: $size;
}

@mixin dot($color1:#000, $color2:#fff, $size:5px) {
  background-color: $color1;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, transparent), color-stop(.5, $color2), to($color2)),
  -webkit-gradient(linear, 0 0, 100% 0, color-stop(.5, transparent), color-stop(.5, $color2), to($color2));
  background-repeat: repeat;
  -webkit-background-size: $size $size;
}