block vars
  - var siteUrl = 'https://######.com/'//末尾に「/」は必須'
  - var siteName = '_サイト名_'
  - var siteTitle = '_サイトタイトル_'//TOPページタイトル
  - var siteDescription = '_サイトディスクリプション。改行なし。50文字程度だとSPでも表示可能で安全。PCは120文字前後表示可能_'
  - var siteKeywords = '_サイトキーワードA_,_サイトキーワードB_,_サイトキーワードC_,_サイトキーワードD_,_サイトキーワードE_'
  - var copyright = '_sitename_'
  //- サイトメタ情報と差分を出す場合は任意で変更してください
  - var siteOgUrl = siteUrl
  - var siteOgTitle = '_OG用サイト名_'
  - var siteOgDescription = '_OG用ディスクリプション。改行なし。50文字程度だとSPでも表示可能で安全。PCは120文字前後表示可能_'
  - var siteOgImage = siteUrl+'assets/common/ogp.png'


  - var siteLogo = siteUrl+'assets/common/siteLogo.svg'
  - var email = 'info@sample.com'
  - var telephone = '00-0000-0000'
  - var  postalCode= '000-0000'
  - var addressRegion = '都道府県'
  - var addressLocality = '市区町村'
  - var streetAddress = 'それ以降の住所'

  //- 構造化データに反映されるので間違えなきよう
  - var facebookUrl = ''
  - var twitterUrl = 'https://twitter.com/xxxx'
  - var instagramUrl = 'https://www.instagram.com/xxxx'
  - var lineUrl = ''
  - var youtubeUrl = ''

  

//- - var siteState = 'dev'
- var imgPath = 'assets/img/'
- var cssPath = 'assets/css/'
- var jsPath = 'assets/js/'
- var extention = '.html'//phpように変換する場合は「/」へ
