//-========================
//- サイト共通設定
//-========================
include _includes/_config
//- block vars
//-========================
//- ページ設定
//-========================
- var root = './'//ルートパスの指定
- var key = 'privacy'//条件分岐に使用
- var index = 'true'//ページインデックスの有無
- var ogp = 'true'//OGPの有無
- var analytics = 'true'//GAタグの有無
//-========================
//- ページメタ情報
//- ここに入力した内容で上書きされます
//- 記入無しでサイト共通内容が反映されます
//-========================
- var pageTitle = 'プライバシーポリシー'//meta title内容
- var pageDescription = '_サイト名_のプライバシーポリシーのページです。個人情報保護に関するスタンスをこちらに掲載しております。'//meta description内容
- var pageKeywords = ''//meta keyword内容
- var pageOgUrl = ''//OG用 URL
- var pageOgTitle = 'プライバシーポリシー｜_サイト名_'//OG用 title
- var pageOgDescription = '_サイト名_のプライバシーポリシーのページです。個人情報保護に関するスタンスをこちらに掲載しております。'//OG用 description
- var pageOgImage = ''//OGImage
//-========================
//- パンくず/構造化データ生成
//-========================
- var pageSlug= "privacy"//ページのスラッグ※末尾に「/」必須
- var parentSlug= ""//ページが3階層目の場合、親ページのスラッグ※末尾に「/」必須
- var parentTitle= ""//ページが3階層目の場合、親ページの名前
//-========================
//- ライブラリ読み込み
//-========================
- var fontawesome = 'false'// fontawesome読み込み
- var slick = 'false'// slick読み込み ※block append js以下に発火用記述必須
- var swiper = 'false'// swiper読み込み ※block append js以下に発火用記述必須
- var magnificpopup = 'false'// magnificpopup読み込み ※block append js以下に発火用記述必須
- var accordion = 'false'
//-
//-
//-
//-========================
//- PAGE SOURCE
//-========================
doctype html
html(lang='ja')
  include _includes/_head
  //---------------------------------
  //- UNIQUE CSS
  //- ページ独自に使用するスタイル
  //---------------------------------
  block append css
    //- link(rel='stylesheet' type='text/css' href='../assets/css/###.css?ver=1.0.0')
    //- style(type='text/css').
      .class{}
  include _includes/_tag_head
  body
    include _includes/_tag_body
    .l-wrapper
      include _includes/_header
      include _includes/_module/_breadcrumb
      main.l-main
        //-========================
        //-========================
        //- PAGE CONTENTS START
        //-========================
        // PageContents
        article.c-page.p-privacy
          .c-page__head
            .l-container
              h1.c-page__title プライバシーポリシー
              .c-page__subtitle privacy
              .c-page__intro #{siteName}のプライバシーポリシーのページです。個人情報保護に関するスタンスをこちらに掲載しております。

          // section START
          section.l-section.p-privacy-content
            .l-container
              h2.c-h2 個人情報保護基本方針
              .c-block #{siteName}（以下「当社」といいます。）は、お客様からご提供いただく個人情報の保護のため、「個人情報保護基本方針」および「個人情報の取扱いに関する重要事項｣を定めています。 ご提供いただいた個人情報は、個人情報の保護に関する法律（以下「個人情報保護法」といいます。）その他の関係法令、ならびにこの「個人情報保護基本方針」および「個人情報の取扱いに関する重要事項」に基づき取り扱います。
              .c-block 
                h3.c-h3 方針1
                p.c-text 個人情報の取扱いにつき、個人情報保護法その他の関係法令を遵守します。
              .c-block 
                h3.c-h3 方針2
                p.c-text 個人情報の利用の目的をできる限り特定し、当該目的の達成に必要な範囲内で適切に取り扱います。
              .c-block 
                h3.c-h3 方針3
                p.c-text 個人情報は、適法かつ公正な方法で取得します。また、法令に定める場合を除き、あらかじめお客様の同意を得ないで要配慮個人情報を取得しません。
          // section END


          // section START
          section.l-section.p-privacy-content
            .l-container
              h2.c-h2 個人情報の取扱いに関する重要事項
              .c-block
                h3.c-h3 1. 個人情報の利用目的
                p 当社は、お客様の個人情報を、以下の目的で利用します。
                ul.c-list-disc
                  li 相談・お問い合わせへの回答のため
                  li 商品発送やサービス実施、およびアフターサービスのため
                  //- li 資料請求に対する発送のため
                  li 商品・サービス・イベントの案内のため
              .c-block
                h3.c-h3 3. 個人情報の第三者提供
                p.c-text 当社は、法令に定める場合のほか、次に掲げる場合に、本プライバシーポリシーに同意いただいたお客様の個人情報を第三者（外国にある第三者を含みます。）に提供することがあります。
                ul.c-list-disc
                  li 氏名、性別、生年月日、住所、職業、国籍、メールアドレスおよび電話番号その他のアンケートにご記載いただいた個人情報
                  li 当社がお客様に提供したサービスに関する個人情報
                  li 当社がお客様に販売した商品に関する個人情報
                  li 当社の会員に関する個人情報
                  li お客様が当社又は当サービスのSNSに登録された情報
                  li その他当社がお客様にサービスを提供するに当たって必要なものとして保有する個人情報
          // section END



        // /pageContents
        //-========================
        //- PAGE CONTENTS END
        //-========================
        //-========================
      //- include _includes/_sidebar
      include _includes/_footer
      //- include _includes/_module/_floatbox
    include _includes/_script
    //---------------------------------
    //- UNIQUE SCRIPT
    //- ページ独自に使用するJS
    //---------------------------------
    block append js
      //- script(src="../assets/js/xxx.js?ver=1.0.0")
      //- script(type='text/javascript').
        $(function () {
          %scripts%
        });
    include _includes/_schema