//-========================
//- サイト共通設定
//-========================
include _includes/_config
//- block vars
//-========================
//- ページ設定
//-========================
- var root = './'//ルートパスの指定
- var key = 'thanks'//条件分岐に使用
- var index = 'false'//ページインデックスの有無
- var ogp = 'true'//OGPの有無
- var analytics = 'true'//GAタグの有無
//-========================
//- ページメタ情報
//- ここに入力した内容で上書きされます
//- 記入無しでサイト共通内容が反映されます
//-========================
- var pageTitle = 'お問い合わせ完了'//meta title内容
- var pageDescription = ''//meta description内容
- var pageKeywords = ''//meta keyword内容
- var pageOgUrl = ''//OG用 URL
- var pageOgTitle = 'お問い合わせ完了｜_サイト名_'//OG用 title
- var pageOgDescription = ''//OG用 description
- var pageOgImage = ''//OGImage
//-========================
//- パンくず/構造化データ生成
//-========================
- var pageSlug= "thanks"//ページのスラッグ※末尾に「/」必須
- var parentSlug= ""//ページが3階層目の場合、親ページのスラッグ※末尾に「/」必須
- var parentTitle= ""//ページが3階層目の場合、親ページの名前
//-========================
//- ライブラリ読み込み
//-========================
- var fontawesome = 'false'// fontawesome読み込み
- var slick = 'false'// slick読み込み ※block append js以下に発火用記述必須
- var swiper = 'false'// swiper読み込み ※block append js以下に発火用記述必須
- var magnificpopup = 'false'// magnificpopup読み込み ※block append js以下に発火用記述必須
- var accordion = 'false'
//-
//-
//-
//-========================
//- PAGE SOURCE
//-========================
doctype html
html(lang='ja')
  include _includes/_head
  //---------------------------------
  //- UNIQUE CSS
  //- ページ独自に使用するスタイル
  //---------------------------------
  block append css
    //- link(rel='stylesheet' type='text/css' href='../assets/css/###.css?ver=1.0.0')
    //- style(type='text/css').
      .class{}
  include _includes/_analytics
  body
    include _includes/_analytics_body
    .l-wrapper
      include _includes/_header
      include _includes/_module/_breadcrumb
      main.l-main
        //-========================
        //-========================
        //- PAGE CONTENTS START
        //- 編集はここから
        //-========================
        // PageContents
        article.p-thanks
          .p-thanks__head
            .l-container
              h1.p-thanks__title お問い合わせを受け付けました
              //- .p-thanks__subtitle thank you

          // section START
          section.p-thanks__body
            .l-container-sm
              //- h2.c-h2-deco お問い合わせフォーム
              p.c-text この度は、お問い合わせいただきありがとうございます。#[br]担当者より後日ご連絡させていただきます。
              p.c-text 混雑状況などにより、返信までお時間を要する場合があります。予めご了承ください。#[br]1週間以上経っても返信がない場合や、お急ぎの場合は、恐れ入りますがお電話にてご連絡頂ますよう宜しくお願いいたします。
              
              .c-panel-contact
                p.c-panel-contact__text
                  | お電話でのお問い合わせは
                  br.u-sp-display
                  | 下記番号からお願い致します
                address.c-panel-contact__phone
                  a(href='tel:03-1234-5678') 03-1234-5678
                p.c-note ※受付時間 平日 9:00〜21:00

              .c-block-button
                a.c-button-primary(href=root+"") トップへ戻る

          // section END
        // /pageContents

        //-========================
        //- PAGE CONTENTS END
        //- 編集はここまで
        //-========================
        //-========================
      //- include _includes/_sidebar
      include _includes/_footer
      //- include _includes/_module/_floatbox
    include _includes/_script
    //---------------------------------
    //- UNIQUE SCRIPT
    //- ページ独自に使用するJS
    //---------------------------------
    block append js
      script(src="https://yubinbango.github.io/yubinbango/yubinbango.js")
      //- script(type='text/javascript').
        $(function () {
          %scripts%
        });
    include _includes/_schema