//- home以外のときに設置
unless key==='home'
  // Pager
  ul.c-pager
    li.c-pager__prev: a(href="#")
    li.c-pager__count
      ol.c-pager__list
        li.c-pager__item: a.is-current(href="#") 1
        - for( var n=2; n<= 5; n++) 
          li.c-pager__item: a(href="#") #{n}
        li.c-pager__item: a.is-more(href="#") …
    li.c-pager__next: a(href="#")
  // /Pager

