//- home以外のときに設置
unless key==='home'
  // Pagination
  .m-pagination
    .m-pagination__prev: a(href="#") 
    ol.m-pagination__count
      li: a.is-current(href="#") 1
      - for( var n=2; n<= 4; n++) 
        li: a(href="#") #{n}
      li: a.is-more(href="#") …
    .m-pagination__next: a(href="#") 
  // /Pagination

