/* --------------------------------------------------
PC/SP折り返し切り替え
-------------------------------------------------- */

.u-br-sp {
  display: block;

  @include mq(sp,max) {
    display: inline;
  }
}

.u-br-pc {
  display: inline;

  @include mq(sp,min) {
    display: block;
  }
}
