/* --------------------------------------------------
PC/SP折り返し切り替え
-------------------------------------------------- */
.u-br {
  &-sp,
  &-tab,
  &-pc {
    display: none;
  }
  &-sp {
    @media (width <= $sp) {
      display: inline-block;
    }
  }
  &-tab {
    @media ($sp <= width <= $tab) {
      display: inline-block;
    }
  }
  &-pc {
    @media ($tab <= width) {
      display: inline-block;
    }
  }
}