/* --------------------------------------------------
PC/SP表示切り替え
-------------------------------------------------- */

.u-display {
  &-sp,
  &-tab,
  &-pc {
    display: none;
  }
  &-sp {
    @media (width <= $sp) {
      display: block;
    }
  }
  &-tab {
    @media ($sp <= width <= $tab) {
      display: block;
    }
  }
  &-pc {
    @media ($tab <= width) {
      display: block;
    }
  }
}
