.u-text {
  margin: 0 0 gt(10,20);
  &-right{
    text-align: right;
  }
  &-center{
    text-align: center;
  }
  &-left{
    text-align: left;
  }
  &-primary{
    color: $c-primary;
  }
  &-secondary{
    color: $c-secondary;
  }
  &-tertiary{
    color: $c-tertiary;
  }
  &-accent{
    color: $c-accent;
  }
  &-danger{
    color: $c-danger;
  }
  &-important{
    color: $c-important;
  }
  &-success{
    color: $c-success;
  }
  &-disable{
    color: $c-disable;
  }
  &-bold{
    font-weight: bold;
  }
}