.u-text {
  margin: 0 0 gt(10, 20);
  &-right {
    text-align: right;
  }
  &-center {
    text-align: center;
  }
  &-left {
    text-align: left;
  }
  &-primary {
    color: var(--primary);
  }
  &-secondary {
    color: var(--secondary);
  }
  &-tertiary {
    color: var(--tertiary);
  }
  &-accent {
    color: var(--accent);
  }
  &-danger {
    color: var(--accent);
  }
  &-important {
    color: var(--accent);
  }
  &-success {
    color: var(--success);
  }
  &-disable {
    color: var(--disable);
  }
  &-bold {
    font-weight: bold;
  }
}
