/* --------------------------------------------------
フォームの入力画面
-------------------------------------------------- */

.p-entry {

  &-intro {
    margin: 120px 0;


    p {
      margin-bottom: 24px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.p-entry-form {
  padding: 0;
  margin: 0 auto;
  margin-bottom: 120px;
  max-width: 815px;
  position: relative;


  &__title {
    margin-bottom: 72px;
  }
}
