/* --------------------------------------------------
フォームの確認画面
-------------------------------------------------- */

.p-form-confirm {
  display: block;
  padding: 0;
  margin: 0;
  margin-bottom: gt(40,80);
}
