/* --------------------------------------------------
サンクスページ
-------------------------------------------------- */
// .p-thanks {
//   max-width: 600px;
// }
.p-thanks-head {
  margin: gt(40,80) 0;
  text-align: center;
  &__title {
    font-size: $fz40;
    font-weight: 500;
    line-height: 1.5;
  }
}

.p-thanks-message {
  display: block;
  padding: 0;
  margin: 0 auto gt(40,120);
}

.p-thanks-totop {
  display: block;
  padding: 0;
  margin: gt(40,60) auto 0;
  text-align: center;
}
