/* --------------------------------------------------
カラー指定
-------------------------------------------------- */

$c-border: #2E2B29;
$c-secondary: #D6989D;
$pink_2: #F7DFDF;
$c-primary: #C9B6A0;
$c-danger: #C92D2D;
$base_1: #F6F6F8;
$base_2: #F2EDDB;
$green_1: #9FC9BC;
$orange_1: #DBB98A;

white: #fff;



//  background colors
// -------------------------------
$c-bg-primary:#fff;
$c-bg-secondary:#fffbf4;
$c-bg-tertiary:#f5f5f5;

//  font colors
// -------------------------------
$c-font-primary:#777;
$c-font-secondary:#ccc;
$c-font-link:#26B2D5;//#1592E6;

//  border colors
// -------------------------------
$c-border: rgba(black, .1);

//  main colors
// -------------------------------
$c-primary: #3E9AE2;
$c-secondary: #49a184;
$c-tertiary: #f1cc64;

$c-accent: #D1B47B;
$c-important: #E54444;
$c-success: #20b30c;
$c-disabled: #b9b9b9;

//  bland colors
// -------------------------------
$c-facebook: #0870D8;
$c-twitter: #12B7E8;
$c-line: #3FB752; //00B900
$c-instagram: #262626; //3f729b
$c-google: #dd4b39;
$c-pintarest: #cb2027;
$c-youtube: #cd201f;

//  gray scale colors
// -------------------------------
$c-gray: #c4c4c4;//defalt
$c-gray5: #0d0d0d;
$c-gray10: #1a1a1a;
$c-gray15: #262626;
$c-gray20: #333;
$c-gray25: #404040;
$c-gray30: #4d4d4d;
$c-gray35: #595959;
$c-gray40: #666;
$c-gray45: #737373;
$c-gray50: #7f7f7f;
$c-gray55: #8c8c8c;
$c-gray60: #999;
$c-gray65: #a6a6a6;
$c-gray70: #b3b3b3;
$c-gray75: #bfbfbf;
$c-gray80: #ccc;
$c-gray85: #d9d9d9;
$c-gray90: #e5e5e5;
$c-gray95: #f2f2f2;