.c-contact-box {
  border-radius: 12px;
  background-color: #fff;
  padding: 40px;
  text-align: center;

  @include mq_down(md) {
    padding: vw(32) vw(16);
    border-radius: vw(16);
  }

  &__main {
    font-size: 1.8rem;

    @include mq_down(md) {
      font-size: vw(13);
    }
  }

  &__tel {
    line-height: 1.88;
    font-size: 4.4rem;
    margin: 16px 0;

    @include mq_down(md) {
      margin: vw(8) 0 vw(12);
      font-size: vw(28);
    }
  }

  &__sub {
    color: rgba($c-border, 0.5);
    @include mq_down(md) {
      font-size: vw(11);
    }
  }
}
