.p-footer {
  text-align: center;
  padding: 96px 0 72px;

  @include mq_down(md) {
    padding: vw(72) vw(40) vw(48);
  }

  &__menu {
    @include flexbox();
    @include flexkin();
    @include flexcenter();
    max-width: 855px;
    margin: 0 auto 96px;
    width: 100%;

    @include mq_down(md) {
      margin-bottom: vw(64);
    }

    li {
      display: inline-block;
      width: calc(100% / 3);
      border-right: 1px solid rgba($c-border, .25);

      @include mq_down(md) {
        width: vw(160);
        border-right: none;
        margin-bottom: vw(24);
        padding-bottom: vw(24);
        border-bottom: 1px solid rgba($c-border, .25);
      }

      &:last-child {
        border-right: none;

        @include mq_down(md) {
          border-bottom: none;
          margin-bottom: 0;
          padding-bottom: 0;
        }
      }

      a {
        font-size: 1.8rem;
        font-weight: bold;
        letter-spacing: .16em;

        @include mq_up(md) {
          transition: .5s all;
          &:hover {
            opacity: .5;
          }
        }

        @include mq_down(md) {
          font-size: vw(15);
        }
      }
    }
  }

  &__copy {
    p {
      font-size: 1.4rem;
      color: rgba($c-border, .5);

      @include mq_down(md) {
        font-size: vw(11);
      }
    }
  }
}