.c-form__textarea {
  border-radius: 20px;
  border: 1px solid rgba($c-border, 0.25);
  padding: 24px;
  background-color: #fff;
  width: 100%;

  @include mq_down(md) {
    border-radius: vw(16);
    padding: vw(22) vw(16);
  }
}
