.c-form__parts {
  margin-bottom: 36px;

  @include mq_down(md) {
    margin-bottom: vw(16);
  }

  &:last-child {
    margin-bottom: 0;
  }

  &__label {
    margin-bottom: 12px;

    @include mq_down(md) {
      margin-bottom: vw(12);
    }
  }
}
