.c-form__label {
  &__require {
    display: inline-block;
    padding-right: 8px;
    font-size: 1.2rem;
    color: $c-danger;

    @include mq_down(md) {
      font-size: vw(11);
      padding-right: vw(8);
    }
  }
}
