// （´・ω・`）< Gutter
// -------------------------------
$gt10: min(calc((10/375*100vw)),10px);
$gt20: min(calc((20/375*100vw)),20px);
$gt30: min(calc((30/375*100vw)),30px);
$gt40: min(calc((40/375*100vw)),40px);
$gt50: min(calc((50/375*100vw)),50px);
$gt60: min(calc((60/375*100vw)),60px);
$gt70: min(calc((70/375*100vw)),70px);
$gt80: min(calc((80/375*100vw)),80px);
$gt90: min(calc((90/375*100vw)),90px);
$gt100: min(calc((100/375*100vw)),100px);
$gt110: min(calc((100/375*110vw)),110px);
$gt120: min(calc((100/375*120vw)),120px);
$gt130: min(calc((100/375*130vw)),130px);
$gt140: min(calc((100/375*140vw)),140px);
$gt150: min(calc((100/375*150vw)),150px);
$gt160: min(calc((100/375*160vw)),160px);
$gt170: min(calc((100/375*170vw)),170px);
$gt180: min(calc((100/375*180vw)),180px);
$gt190: min(calc((100/375*190vw)),190px);
$gt200: min(calc((100/375*200vw)),200px);
// $gt10: clamp(8px, calc((10/375*100)+vw),10px);
// $gt20: clamp(8px, calc((20/375*100)+vw),20px);
// $gt30: clamp(8px, calc((30/375*100)+vw),30px);
// $gt40: clamp(8px, calc((40/375*100)+vw),40px);
// $gt50: clamp(8px, calc((50/375*100)+vw),50px);
// $gt60: clamp(8px, calc((60/375*100)+vw),60px);
// $gt70: clamp(8px, calc((70/375*100)+vw),70px);
// $gt80: clamp(8px, calc((80/375*100)+vw),80px);
// $gt90: clamp(8px, calc((90/375*100)+vw),90px);
// $gt100: clamp(8px, calc((100/375*100)+vw),100px);
// $gt110: clamp(8px, calc((100/375*110)+vw),110px);
// $gt120: clamp(8px, calc((100/375*120)+vw),120px);
// $gt130: clamp(8px, calc((100/375*130)+vw),130px);
// $gt140: clamp(8px, calc((100/375*140)+vw),140px);
// $gt150: clamp(8px, calc((100/375*150)+vw),150px);
// $gt160: clamp(8px, calc((100/375*160)+vw),160px);
// $gt170: clamp(8px, calc((100/375*170)+vw),170px);
// $gt180: clamp(8px, calc((100/375*180)+vw),180px);
// $gt190: clamp(8px, calc((100/375*190)+vw),190px);
// $gt200: clamp(8px, calc((100/375*200)+vw),200px);


