.c-service-card {
  background-size: cover;
  padding-top: 33%;
  display: inline-block;
  position: relative;
  overflow: hidden;
  border-radius: 48px;
  box-shadow: 0 0 16px rgba($c-border, .05);

  @include mq_down(md) {
    border-radius: vw(48);
    padding-top: 64%;
    border-radius: vw(32);
  }

  &__wrap {
    padding: 32px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include flexbox();
    @include flexhashi();
    @include flexcenter();

    @include mq_down(md) {
      padding: vw(32);
    }
  }

  &__text {
    .ja {
      font-size: 2.8rem;
      font-weight: bold;
      letter-spacing: .16em;
      line-height: 1.36;

      @include mq_down(md) {
        font-size: vw(20);
        line-height: 1.9;
      }
    }

    .en {
      height: 52px;

      @include mq_down(md) {
        height: vw(35);
      }
    }
  }
}

@include mq_up(md) {

  .c-service-card {
    transition: .5s all;
    .c-arrow {
      transition: .5s all;
    }
    &:hover {
      box-shadow: 0 4px 20px rgba($c-border, .09);
      .c-arrow {
        background-color: darken($c-primary, 10%);
      }
    }
  }
}