

// （´・ω・`）< Gutter
// -------------------------------
$mb10: min(10px, 1.75vw);
$mb20: min(20px, 3.5vw);
$mb30: min(30px, 5.75vw);
$mb40: min(40px, 7vw);
$mb60: min(60px, 10.5vw);
$mb80: min(80px, 14vw);
$mb100: min(100px, 17.5vw);

// （´・ω・`）< Ratio Setting
// -------------------------------
$r-gold: calc((5 / 8) * 100%);
$r-gold2: calc((5 / 12) * 100%);
$r-silver: calc((5 / 7) * 100%);
$r-bronz: calc((3 / 9) * 100%);

// （´・ω・`）< others
// -------------------------------
$img_path: "../img/";
$transition: all .3s ease;
$radius: 5px;
$shadow: 0px 2px 6px 0px rgba(black, .1);
$border: 1px solid $c-border;