@charset "UTF-8";
// -------------------------------
//   ∧＿＿∧    .｡*ﾟ+.*.｡
// （´・ω・`）< Mixins
//  クラスで書き出されないもの限定。
//  page.scssにも流用するもの
// -------------------------------
@import "inc/base/bourbon/bourbon";
@import "inc/base/config";
@import "inc/base/mixins";

@import "inc/module/hover";
@import "inc/module/button";
@import "inc/module/icon";
@import "inc/module/list";
@import "inc/module/card";
// @import 'inc/module/media';
@import "inc/module/table";
@import "inc/module/accordion";
@import "inc/module/tab";
@import "inc/module/avatar";
@import "inc/module/trim";
@import "inc/module/editor";
@import "inc/module/tag";

///////////////////////////////////
///////////////////////////////////
///////////////////////////////////
// -------------------------------
//   ∧＿＿∧    .｡*ﾟ+.*.｡
// （´・ω・`）< page
// -------------------------------

// （´・ω・`）< articleList
// -------------------------------
// .articleList {
//   @include box-white();
//   border-top: 1px solid $c-border;
//   margin: auto;
//   &-item {
//     position: relative;
//     min-height: calc(80px + #{$g-m} * 2);
//     padding: $g-m;
//     border-bottom: 1px solid $c-border;
//   }
//   &-thumb {
//     padding-bottom: 80px;
//     border-radius: 10px;
//     img {
//       object-fit: cover;
//       @include mq(tab, min) {
//         width: 150px;
//         height: 90px;
//       }
//       @include mq(tab, max, true) {
//         width: 120px;
//         height: 80px;
//       }
//     }
//   }
//   &-time,
//   &-ttl {
//     padding-left: calc(80px + #{$g-xs});
//   }
//   &-time {
//     color: $c-gray70;
//     margin-bottom: $g-s;
//     display: inline-block;
//   }
// }
.articleList {
  @include box-white();
  margin-bottom: $g-xl;
  &-item {
    @include mq(tab, max, true) {
      margin: auto;
    }
    text-align: left;
    padding: $g-s;
    @include flexbox(flex, null, wrap, null, null, null);
  }
  &-body {
    padding: $g-s;
    @include mq(sp, min) {
      width: calc(100% - 150px);
    }
    @include mq(sp, max, true) {
      width: calc(100% - 120px);
    }
    // @include flexbox(flex, null, wrap, null, center, null);
  }
  &-thumb {
    img {
      object-fit: cover;
      @include mq(sp, min) {
        width: 150px;
        height: 90px;
      }
      @include mq(sp, max, true) {
        width: 120px;
        height: 80px;
      }
    }
  }
  &-ttl {
    width: 100%;
    font-size: 1.4rem;
    a{
      width: 100%;
      @include lines-truncate($lines: 2);
      line-height: 1.4;
    }
  }
  .tag {
    margin-left: auto;
  }
  &-time {
    color: $c-gray60;
    margin-bottom: $g-xs;
    display: inline-block;
    font-size: 80%;
  }
  // .is-lastest {
  //   .articleList-thumb {
  //     img {
  //       width: 100%;
  //       height: auto;

  //       @include mq(tab, min) {
  //         height: 338px;
  //       }
  //     }
  //   }
  //   .articleList-body {
  //     width: 100%;
  //   }
  // }
}

// （´・ω・`）< news
// -------------------------------
.newsList {
  // @extend %list-typeA;
  @include box-white();
  border-top: 1px solid $c-border;
  &-item {
    border-bottom: 1px solid $c-border;
    padding: $g-m;
  }
  a {
    color: $c-link;
  }
  // max-width: 600px;
  margin: auto;
  &-time {
    color: $c-gray70;
    margin-bottom: $g-s;
    display: inline-block;
  }
}

// （´・ω・`）< article
// -------------------------------
.article {
  width: 90%;
  max-width: 900px;
  margin: auto;
  @include box-white();
  &-ttl {
    font-size: 1.8rem;
    margin-bottom: $g-m;
    line-height: 1.4;
  }
  &-time {
    text-align: left;
    margin-bottom: $g-m;
    display: inline-block;
  }
  &-body {
    @extend %editor;
    img{
      margin: 0;
    }
  }
  &-img {
    margin: 0 auto $g-m;

  }
}

// （´・ω・`）< author
// -------------------------------
.author {
  border-top: 1px solid $c-border;
  border-bottom: 1px solid $c-border;
  padding: $g-m $g-s;
  margin-bottom: $g-m;
  @include flexbox(flex, null, wrap, null, null, null);
  &-img {
    width: 80px;
    margin-bottom: $g-s;
  }
  &-ttl {
    width: calc(100% - 80px);
    padding-left: $g-s;
  }
  &-detail {
    font-size: 1.1rem;
  }
}

// （´・ω・`）< author
// -------------------------------
.toc {
  padding: $g-m;
  border: 6px solid $c-border;
  margin-bottom: $g-l;
  width: auto;
  position: relative;
  h2 {
    text-align: center;
    font-size: 1.6rem;
    border-bottom: 1px solid $c-border;
    margin-bottom: 0;
  }
  .index {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 700;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 0;
    padding-bottom: 8px;
    display: block;
  }
  ul {
    padding: 0;
    margin: 0;
  }
  li {
    list-style: none;
    margin: 0 !important;
    &:not(:last-child) {
      border-bottom: 2px dotted $c-border;
    }
    a {
      padding: $g-s 0;
    }
  }
}

.js-dropdown-target {
  display: none;
  &.is-open {
    display: block;
  }
}
.js-dropdown {
  position: absolute;
  top: 15px;
  right: 10px;
  width: 7em;
  margin: auto;
  border: 1px solid #000;
  display: inline-block;
  line-height: 1;
  z-index: 100;
  padding: 8px;
  background: transparent;
  border: none;
  outline: none;
  text-align: right;
  // background: rgba(0, 0, 0, 0.1);
  // border-radius: 0 0 0 30px;
  cursor: pointer;
  line-height: 1;
  color: #c3c3c3;
  &:before,
  &:after {
    vertical-align: middle;
    display: inline-block;
  }

  &:before {
    font-size: 12px;
    color: #00a7ff;
    content: "表示する▼";
  }
  &.is-open {
    &:before {
      // font-weight: 900;
      content: "非表示▲";
    }
  }
}
