@charset "UTF-8";
// -------------------------------
//   ∧＿＿∧    .｡*ﾟ+.*.｡
// （´・ω・`）< Mixins
//  クラスで書き出されないもの限定。
//  page.scssにも流用するもの
// -------------------------------
@import "inc/base/bourbon/bourbon";
@import "inc/base/config";
@import "inc/base/mixins";

@import "inc/module/hover";
@import "inc/module/button";
@import "inc/module/icon";
@import "inc/module/list";
@import "inc/module/card";
// @import 'inc/module/media';
@import "inc/module/table";
@import "inc/module/accordion";
@import "inc/module/tab";
@import "inc/module/avatar";
@import "inc/module/trim";
@import "inc/module/editor";
@import "inc/module/tag";

///////////////////////////////////
///////////////////////////////////
///////////////////////////////////
// -------------------------------
//   ∧＿＿∧    .｡*ﾟ+.*.｡
// （´・ω・`）< page
// -------------------------------

// （´・ω・`）< flow
// -------------------------------
.flowList {
  @include box-white();
  padding: 0;
  &-item {
    padding: $g-l $g-m;
    text-align: center;
    &:not(:last-child) {
      border-bottom: 1px solid $c-border;
    }
  }
  &-ttl {
    font-weight: 700;
    margin-bottom: $g-m;
    font-size: 1.8rem;
  }
  &-order {
    background: #000;
    color: white;
    font-family: $serif;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    line-height: 37px;
    width: 40px;
    height: 40px;
    margin: 0 auto $g-m;
    border-radius: 50%;
  }
  &-txt {
    font-size: 1.4rem;
    text-align: left;
  }
}
