@charset "UTF-8";
// -------------------------------
//   ∧＿＿∧    .｡*ﾟ+.*.｡
// （´・ω・`）< Mixins
//  クラスで書き出されないもの限定。
//  page.scssにも流用するもの
// -------------------------------
@import "inc/base/bourbon/bourbon";
@import "inc/base/config";
@import "inc/base/mixins";

@import "inc/module/hover";
@import "inc/module/button";
@import "inc/module/icon";
@import "inc/module/list";
@import "inc/module/card";
// @import 'inc/module/media';
@import "inc/module/table";
@import "inc/module/accordion";
@import "inc/module/tab";
@import "inc/module/avatar";
@import "inc/module/trim";
@import "inc/module/editor";
@import "inc/module/tag";

///////////////////////////////////
///////////////////////////////////
///////////////////////////////////
// -------------------------------
//   ∧＿＿∧    .｡*ﾟ+.*.｡
// （´・ω・`）< page
// -------------------------------
@import "inc/module/form";

// （´・ω・`）< .stepNav
// -------------------------------
.stepNav {
  position: relative;
  // border-bottom: 1px solid $c-border;
  height: 44px;
  max-width: 500px;
  margin: 0 auto $g-l;
  &-inner {
    @include flexbox(flex, null, wrap, space-between, center, null);
  }
  &:before {
    content: "";
    width: 90%;
    margin: auto;
    height: 0;
    border-top: 4px solid $c-gray70;
    @include position(absolute, 50% null null 0);
    transform: translateY(-50%);
    z-index: 10;
  }
  &-progress {
    content: "";
    width: 0;
    height: 0;
    border-top: 4px solid #000;
    @include position(absolute, 50% null null 0);
    transform: translateY(-50%);
    z-index: 11;
    &.step2 {
      width: 50%;
    }
  }
  &-item {
    background: $c-gray70;
    position: relative;
    z-index: 12;
    padding: $g-s;
    border-radius: 25px;
    &:not(:last-child) {
      margin-right: $g-m;
    }
  }
  &-num {
    background: white;
    color: $c-gray70;
    padding: $g-xs;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    line-height: 26px;
  }
  &-label {
    display: inline-block;
    font-weight: 700;
    font-size: 1.4rem;
    margin: 0 $g-s;
    color: white;
  }
  .is-active {
    background: $c-primary;
    .stepNav-num {
      color: $c-primary;
    }
  }
}

// （´・ω・`）< caution
// -------------------------------
.caution {
  @extend %accordion-A;
  margin-bottom: $g-l;
  &-head {
    color: $c-link;
  }
  &-body {
    // background: $c-gray95;
    border-radius: 5px;
    margin: 0 $g-m;
    padding: $g-m;
    display: block;
    font-size: 1.2rem;
  }
}

// （´・ω・`）< entry
// -------------------------------
.entry,
.inquiry {
  // background: $c-bg-secondary;
  @include box-white();
  max-width: 700px;

  &-ttl {
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: $g-m;
    letter-spacing: 0.1em;
    width: 100%;
  }

  &-txt {
    color: red;
    text-align: center;
  }

  @include mq(tab, min) {
    padding: $g-xl;
    margin-bottom: $g-xl;

    &-ttl {
      font-size: 1.8rem;
      margin-bottom: $g-l;
    }

    &-heading {
      font-size: 1.6rem;
      margin-bottom: $g-m;
    }

    &-txt {
      margin-bottom: $g-l;
    }
  }
}

// （´・ω・`）< form
// -------------------------------
.form {
  &-heading {
    font-size: 1.4rem;
    margin: 0 auto $g-m;
    width: auto;
    text-align: center;
    letter-spacing: 0.1em;
    background: #eee;
    display: block;
    // color: #7b6d53;
    width: 11em;
    border-radius: 3px;
  }
}

// （´・ω・`）< finish
// -------------------------------
.finish {
  @include box-white();
  max-width: 700px;
  &-ttl {
    text-align: center;
    margin: $g-m 0 $g-l;
  }
  &-txt {
    margin-bottom: $g-l;
  }
  &-inner {
    box-shadow: 0 0 20px rgba(black, 0.08);
    padding: $g-l $g-m;
    border-radius: 4px;
    margin-bottom: min(#{$g-xl}, 20vw);
    max-width: 600px;
    margin: auto;
    background: rgba(white, 0.5);
  }
  &-img {
    margin: auto;
    width: 100px;
    img {
      width: 100%;
    }
  }
  @include mq(tab, min) {
    padding: $g-xl;
    margin-bottom: $g-xl;
  }
}

// （´・ω・`）< telContact
// -------------------------------
.telContact {
  text-align: center;
  border-radius: 4px;
  max-width: 600px;
  margin: auto;
  margin-bottom: $g-l;
  // border: 1px solid $c-border;
  padding: $g-l $g-m;
  background: #fff;
  &-catch {
    margin-bottom: $g-m;
    font-weight: 700;
    font-size: 1.6rem;
  }
  &-phoneNum {
    font-size: 2.6rem;
    text-align: left;
    vertical-align: middle;
    line-height: 1;
    margin-bottom: $g-m;
    padding-right: $g-m;
  }
  &-img {
    width: 40px;
    vertical-align: middle;
  }
  &-note {
    font-size: 1.2rem;
  }
}

.special {
  margin-bottom: $g-l;
  &-img {
    border-radius: 20px;
    overflow: hidden;
  }
}
