@charset "UTF-8";
// -------------------------------
//   ∧＿＿∧    .｡*ﾟ+.*.｡
// （´・ω・`）< Mixins
//  クラスで書き出されないもの限定。
//  page.scssにも流用するもの
// -------------------------------
@import "inc/base/bourbon/bourbon";
@import "inc/base/config";
@import "inc/base/mixins";

@import "inc/module/hover";
@import "inc/module/button";
@import "inc/module/icon";
@import "inc/module/list";
@import "inc/module/card";
// @import 'inc/module/media';
@import "inc/module/table";
@import "inc/module/accordion";
@import "inc/module/tab";
@import "inc/module/avatar";
@import "inc/module/trim";
@import "inc/module/editor";
@import "inc/module/tag";

///////////////////////////////////
///////////////////////////////////
///////////////////////////////////
// -------------------------------
//   ∧＿＿∧    .｡*ﾟ+.*.｡
// （´・ω・`）< page
// -------------------------------

// （´・ω・`）< gallery
// -------------------------------
.gallery {
  width: 100%;
  display: inline-block;
  // background: #000;
  @include flexbox(flex, null, wrap, null, null, null);

  &-item{
    
    @include mq(sp, max, true) {
      width: 22.5vw;
      height: 22.5vw;
      // max-width: 120px;
      // max-height: 120px;
      padding: $g-s;
    }
    @include mq(sp, min) {
      width: 22.5vw;
      height: 22.5vw;
      max-width: 150px;
      max-height: 150px;
      padding: $g-m;
    }

  }
  &-img {
    object-fit: cover;
    cursor: pointer;
    filter: grayscale(100) brightness(70%);
    width: 100%;
    height: 100%;
    opacity: .7;
    transition: $transition;
    border-radius: 10%;
    // @include mq(tab, max, true) {
    //   width: 22.5vw;
    //   height: 22.5vw;
    // }
    // @include mq(tab, min) {
    //   width: 25vw;
    // height: 25vw;
    // }
    &:hover{
      filter: grayscale(0);
      opacity: 1;
      border-radius: 0;
      transform: scale(1.08);
    }
  }
}
