*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}
ul[role="list"],
ol[role="list"] {
  list-style: none;
}
html:focus-within {
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
a:not([class]) {
  text-decoration-skip-ink: auto;
}
img,
picture {
  max-width: 100%;
  display: block;
}
input,
button,
textarea,
select {
  font: inherit;
}
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

//====================================================================
//   ∧＿＿∧    .｡*ﾟ+.*.｡*ﾟ+.*.｡｡*ﾟ+.*.｡
// （´・ω・`）< Reset Setting
//  ( つ旦つﾟ  +.*.｡｡*ﾟ+.*.｡.｡*ﾟ+.*.｡*ﾟ+.
//  20160824 update
//  includ:ress.css v1.0.1（https://github.com/filipelinhares/ress)
//====================================================================
// -------------------------------
//   ∧＿＿∧    .｡*ﾟ+.*.｡
// （´・ω・`）< Groval selectors Reset
// -------------------------------
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
  // tap-highlight-color: rgba(0, 0, 0, 0);
  // color: $c-primary;
  // transition: $transition;
  color: inherit;
  text-decoration: none;
  display: inline-block;
  outline: none;
  // @include transition(all 0.1s ease);

  &:active,
  &:focus,
  &:hover {
    text-decoration: none;
  }

  img {
    display: inline-block; //隙間削除
    // @include transition(all 0.1s ease);
  }

  // &:hover,
  // &.is-hover {
  //   img {
  //     @include transform(scale(1.05)translate3d(0, 0, 0));
  //   }
  // }
}

// a:active,
// a:hover {
//   outline-width: 0;
// }

// code,
// kbd,
// pre,
// samp {
//   font-family: monospace, monospace;
//   // padding: $md-gtr;
//   word-break: break-all;
//   word-wrap: break-word;
// }

// b,
// strong {
//   font-weight: bold;
// }

// dfn {
//   font-style: italic;
// }

// mark {
//   background-color: #ff0;
//   color: #000;
// }

// sub,
// sup {
//   font-size: 75%;
//   line-height: 0;
//   position: relative;
//   vertical-align: baseline;
// }

// sub {
//   bottom: -0.25em;
// }

// sup {
//   top: -0.5em;
// }

// menu,
// ol,
// ul {
//   padding-left: 0;
//   list-style: none;
// }

// -------------------------------
//   ∧＿＿∧    .｡*ﾟ+.*.｡
// （´・ω・`）< Forms Reset
// -------------------------------
button,
input,
optgroup,
select,
textarea {
  font: inherit;
}

optgroup {
  font-weight: bold;
}

button {
  overflow: visible;
  cursor: pointer;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

[type="reset"],
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance: button;
}

button,
select {
  text-transform: none;
}

button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
  color: inherit;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

select::-ms-value {
  color: currentColor;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  border: 0;
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
  padding: 0;
}

textarea {
  overflow: auto;
  resize: vertical;
}

progress {
  vertical-align: baseline;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

// // -------------------------------
// //   ∧＿＿∧    .｡*ﾟ+.*.｡
// // （´・ω・`）< Specify media element Reset
// // -------------------------------

// img {
//   border-style: none;
//   max-width: 100%;
//   // max-height: 100%;
//   vertical-align: baseline;
//   outline: none;
//   margin: auto;
//   line-height: 1;
// }

// progress {
//   vertical-align: baseline;
// }

// svg:not(:root) {
//   overflow: hidden;
// }

// svg * {
//   fill: none;
//   stroke: currentColor;
// }

// audio,
// canvas,
// progress,
// video {
//   display: inline-block;
//   max-width: 100%;
// }

// // -------------------------------
// //   ∧＿＿∧    .｡*ﾟ+.*.｡
// // （´・ω・`）< Acessibility Reset
// // -------------------------------
// @media screen {
//   [hidden~="screen"] {
//     display: inherit;
//   }

//   [hidden~="screen"]:not(:active):not(:focus):not(:target) {
//     position: absolute !important;
//     clip: rect(0 0 0 0) !important;
//   }
// }

// [aria-busy="true"] {
//   cursor: progress;
// }

// [aria-controls] {
//   cursor: pointer;
// }

// [aria-disabled] {
//   cursor: default;
// }

// // -------------------------------
// //   ∧＿＿∧    .｡*ﾟ+.*.｡
// // （´・ω・`）< Selection Reset
// // -------------------------------

// ::-moz-selection {
//   background-color: #b3d4fc;
//   color: #fff;
//   text-shadow: none;
// }

// ::selection {
//   background-color: #b3d4fc;
//   color: #fff;
//   text-shadow: none;
// }

// a[href^="tel:"] {
//   cursor: default;
// }
