@charset "UTF-8";
// -------------------------------
//   ∧＿＿∧    .｡*ﾟ+.*.｡
// （´・ω・`）< Mixins
//  クラスで書き出されないもの限定。
//  page.scssにも流用するもの
// -------------------------------
@import "inc/base/bourbon/bourbon";
@import "inc/base/config";
@import "inc/base/mixins";

@import "inc/module/hover";
@import "inc/module/button";
@import "inc/module/icon";
@import "inc/module/list";
@import "inc/module/card";
// @import 'inc/module/media';
@import "inc/module/table";
@import "inc/module/accordion";
@import "inc/module/tab";
@import "inc/module/avatar";
@import "inc/module/trim";
@import "inc/module/editor";
@import "inc/module/tag";

///////////////////////////////////
///////////////////////////////////
///////////////////////////////////
// -------------------------------
//   ∧＿＿∧    .｡*ﾟ+.*.｡
// （´・ω・`）< page
// -------------------------------

// （´・ω・`）< scheduleList
// -------------------------------
.scheduleList {
  @include box-white();
  padding: 0;
  &-item {
    padding: $g-m;
    &:not(:last-child) {
      border-bottom: 1px solid $c-border;
    }
  }
  &-time {
    font-size: 1.2rem;
  }
  &-ttl {
    font-size: 1.8rem;
  }
}
.tag {
  font-size: 1.2rem;
  color: white;
  padding: $g-xxs $g-m;
  &-primary {
    background: #e49400;
  }
  &-secondary {
    background: #c40000;
  }
}