@charset "UTF-8";
// -------------------------------
//   ∧＿＿∧    .｡*ﾟ+.*.｡
// （´・ω・`）< Mixins
//  クラスで書き出されないもの限定。
//  page.scssにも流用するもの
// -------------------------------
@import "inc/base/bourbon/bourbon";
@import "inc/base/config";
@import "inc/base/mixins";

@import "inc/module/hover";
@import "inc/module/button";
@import "inc/module/icon";
@import "inc/module/list";
@import "inc/module/card";
// @import 'inc/module/media';
@import "inc/module/table";
@import "inc/module/accordion";
@import "inc/module/tab";
@import "inc/module/avatar";
@import "inc/module/trim";
@import "inc/module/editor";
@import "inc/module/tag";

///////////////////////////////////
///////////////////////////////////
///////////////////////////////////
// -------------------------------
//   ∧＿＿∧    .｡*ﾟ+.*.｡
// （´・ω・`）< page
// -------------------------------

// （´・ω・`）< faq
// -------------------------------
.testimonial {
  max-width: 600px;
  margin: 0 auto $g-l;
  box-shadow: 0 0 20px rgba(black, 0.08);
  padding: $g-l 6%;
  border-radius: 20px;
  max-width: 600px;

  &-ttl {
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: $g-l;
    color: darken($c-tertiary, 10%);
  }

  &-body {
    @include clearfix;
  }
  &-img {
    width: 50%;
    max-width: 220px;
    float: right;
    border: 2px solid #eee;
    border-radius: 3px;
    margin-left: $g-s;
  }
  &-customer {
    border-bottom: 2px dotted #bbb;
    font-weight: 700;
    margin-bottom: $g-m;
    color: #bbb;
    display: inline-block;
    // .fas {
    //   color: #ccc;
    //   font-size: 1.8rem;
    // }
    // color: darken($c-tertiary,10%);
  }

  @include mq(tab, min) {
    margin-bottom: $g-xl;
  }
}
