//  footer
// -------------------------------
.l-footer {
  width: 100%;
  border-top: 1px solid $c-border;
  text-align: center;
  padding: gt(30,60) 0;
  position: relative;
  &__inner {
    width: min(100%, 1024px);
    margin: auto;
  }
  &__logo {
    width: min(30%, 120px);
    aspect-ratio: 148 / 58; //ロゴサイズを入力
    margin: auto;
    background: url("#{$img_path}common/siteLogo-footer.svg") no-repeat center center / contain;
    // border: 1px solid #000;
    overflow: hidden;
    text-indent: -100vw;
    margin-bottom: gt(20,40);
    // color: transparent;
  }
}

//  footer-pagetop
// -------------------------------
.l-footer-pagetop{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: gt(10,20);
  // width: 20px;
  // position: fixed;
  // bottom: 20px;
  // right: 20px;
  // line-height: 1;
  // border: none;
  // outline: none;
  // background: white;
}

//  footer-social
// -------------------------------
.l-footer-social {
  width: 100%;
  margin: 0 auto gt(20,40);
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  &__item {
    width: min(10%, 40px);
    height: min(calc(40 / 375 * 100vw), 40px);
    margin: 10px;
    a {
      padding: 0;
      line-height: 1;
      aspect-ratio: 1 / 1;
      &:after {
        display: none;
      }
    }
  }
}

//  footer-navi
// -------------------------------
.l-footer-navi {
  margin-bottom: 40px;
  &__list {
    @include flexbox(flex,null,wrap,space-between,center,null);
    border-top: 1px solid $c-border;
  }
  &__item {
    width: 50%;
    border-bottom: 1px solid $c-border;
    &:nth-child(odd) {
      border-right: 1px solid $c-border;
    }
    a {
      padding: gt(10,20);
      display: block;
    }
  }
  @include mq(sp, min) {
    &__list {
      border-left: 1px solid $c-border;
      border-right: 1px solid $c-border;
    }
    // &__item{
    //   width: 25%;
    // }
  }
}

//  footer-copyright
// -------------------------------
.l-footer-copyright {
  width: 100%;
  @include flexbox(flex,null,wrap,center,center,null);
  font-weight: 500;
  font-size: fz(10, 12);
  &:before{
    content: "";
    display: inline-block;
    width: min(3vw, 14px);
    aspect-ratio: 1 / 1;
    background: url("#{$img_path}common/icons/copyright.svg") no-repeat center center /contain;
    margin-right: gt(4);
  }
}
