//  header
// -------------------------------
.l-header {
  margin: 0 auto;
  width: 100%;
  border-bottom: 1px solid $c-border;
  // position: fixed;
  // top: 0;
  // left: 0;
  z-index: 100;
  &__inner {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    // @include mq(tab,max){
    // }
  }
  &__logo {
    width: min(30%, 150px);
    aspect-ratio: 150 / 50; //ロゴサイズを入力
    background: url("#{$img_path}common/siteLogo.svg") no-repeat center center / contain;
    overflow: hidden;
    text-indent: -100vw;
    margin: gt(16,20) gt(4,20);
  }
}

//  header-subnavi
// -------------------------------
.l-header-subnavi {
  margin: 0 2% 0 auto;
  &__list {
    display: flex;
    width: 100%;
  }
  &__item {
    width: auto;
    margin: 0 10px;
  }
  @include mq(tab,max){
    display:none;
  }
}

//  header-cta
// -------------------------------
.l-header-cta {
  width: min(30%, 260px);
  margin-right: gt(10,20);
  &__button {
    width: auto;
    background: #000;
    color: white;
    padding: gt(10);
    display: block;
    text-align: center;
  }
  @include mq(tab,max){
    margin:0 gt(10,20) 0 auto;
  }
}

//  header-globalNavi
// -------------------------------
.l-header-globalNavi {
  transition: $transition;
  width: 100%;
  position: relative;
  // @include mq(tab, max) {
  //   backdrop-filter: blur(6px);
  //   background: rgba(white, 0.95);
  //   z-index: 200;
  //   position: fixed;
  //   top: 0;
  //   right: 0;
  //   padding-top: 80px;
  //   height: 100%;
  //   &.is-open {
  //     right: 0px;
  //   }
  // }
  @include mq(tab, min) {
    // margin-top: gt(10,20);
    border-top: 1px solid $c-border;
  }

  &__toggle {
    position: relative;
    // top: -50px;
    // right: gt(10,20);
    margin-right:gt(10,20);
    transition: $transition;
    height: 30px;
    width: 40px;
    display: inline-block;
    font-size: 0;
    line-height: 1;
    cursor: pointer;
    text-align: center;
    z-index: 9999;
    span {
      border-top: 2px solid $c-font-primary;
      display: block;
      position: absolute;
      left: 0;
      height: 0;
      border-radius: 2px;
      width: 100%;
      transition: all 0.8s ease;
      &:first-child {
        top: 30%;
      }
      &:last-child {
        top: 70%;
      }
    }
    &.is-open {
      transform: rotate(180deg);
      transform-origin: center center;
      span {
        &:first-child {
          top: 50%;
          transform: rotate(210deg);
        }
        &:last-child {
          top: 50%;
          transform: rotate(-210deg);
        }
      }
    }
    @include mq(tab, min) {
      display: none;
    }
  }
  &__inner{
    width: 100%;
    max-height: calc(100% - 0px);
    overflow-y: auto;
    padding: 0;
    text-align: right;
    margin: auto 0 auto auto;
    border-right: 1px dashed white;
    overflow-x: hidden;
    height: 100%;
    transition: $transition;
    @include mq(tab, max) {
      backdrop-filter: blur(6px);
      background: rgba(white, 0.95);
      z-index: 200;
      position: fixed;
      top: 0;
      right: -100vw;
      padding-top: 80px;
      height: 100%;
      &.is-open {
        right: 0px;
      }
    }
  }
  &__list {
    @include mq(tab, min) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
  }
  &__item {
    text-transform: uppercase;
    list-style: none;
    text-align: center;
    padding: gt(10,20) gt(10);
    @include mq(tab, min) {
      width: calc(100% / 5);
      text-align: center;
      padding: gt(10,20) gt(10);
    }
  }
}
//スクロールOFF
.is-scroll-off{
  overflow: hidden;
}
