//  wrapper
// -------------------------------
.l-wrapper {
  overflow: hidden;
}

//  main
// -------------------------------
.l-main {
  background: #f5f5f5;
  padding: 0 0 100px 0;
  // overflow: hidden;
}
//  section
// -------------------------------
.l-section {
  position: relative;
  padding: $gt80 0;
  // overflow: hidden;
}
//  section
// -------------------------------
.l-container {
  width: min(95%,960px);
  margin: auto;
  &-xs{
    width: min(95%,580px);
    margin: auto;
  }
  &-sm{
    width: min(95%,760px);
    margin: auto;
  }
  &-md{
    width: min(95%,960px);
    margin: auto;
  }
  &-lg{
    width: min(95%,1200px);
    margin: auto;
  }
  &-xl{
    width: min(95%,1400px);
    margin: auto;
  }
}
