//  wrapper
// -------------------------------
.l-wrapper {
  overflow: hidden;
}

//  main
// -------------------------------
.l-main {
  // background: #f5f5f5;
  padding: 0 0 100px 0;
  // overflow: hidden;
}
//  section
// -------------------------------
.l-section {
  position: relative;
  padding: gt(60,120) 0;
  // overflow: hidden;
}
//  section
// -------------------------------
.l-container {
  width: min(90%,960px);
  margin: auto;
  &-xs{
    width: min(90%,580px);
    margin: auto;
  }
  &-sm{
    width: min(90%,760px);
    margin: auto;
  }
  &-md{
    width: min(90%,960px);
    margin: auto;
  }
  &-lg{
    width: min(90%,1200px);
    margin: auto;
  }
  &-xl{
    width: min(90%,1400px);
    margin: auto;
  }
}
